[2015-11-13 20:19] miguelcobain opened #1 "add examples to some components"
We can use `{{component componentName` to render an example in each component page.

[2015-11-21 21:16] drewda opened #2 "GeoJSON layers"
Any thought of adding support for GeoJSON layers?

[2015-11-22 18:12] miguelcobain commented on #2
@drewda I think that could be done easily.

However, I've never really been a fan of the idea.
Leaflet geojson layers merely delegates layer creation to other layers.
I always think of geojson as a data concern, not something a view layer should care about. However, I see that pragmatism is sometimes important.

Do you mind illustrating your use case, even if it appears very simple?

[2015-11-22 19:59] radcliff commented on #2
It is nice to be able to pass GeoJSON directly to the map and get a layer, as Leaflet is set up to read from the GeoJSON data directly as it is widely used. Actually, what is a better way of loading GeoJSON data onto a Leaflet map other than a GeoJSON layer?

[2015-11-23 10:35] miguelcobain commented on #2
@radcliff @drewda My data always ends up in controllers using ember data models, mainly.
So, I have a serializer that builds my model from geojson. Then, I create leaflet layers normally using ember-leaflet and templates, like in the examples.

I guess that sometimes you just want to pass in some geoJSON to display something read-only. Be aware that there will be no bound properties other than "st

[2015-11-23 17:26] saerdnaer opened #3 "Example page doesn't work in Safari and Chrome"
http://www.ember-leaflet.com/docs/container doesn't display any map (tiles). In the javascript console following error is displayed: "TypeError: undefined is not an object (evaluating 'e.lat')"

<img width="754" alt="temp" src="https://cloud.githubusercontent.com/assets/40266/11344168/edeae040-920f-11e5-9931-9c577f735f0b.png">

[2015-11-23 17:29] saerdnaer commented on #3
Ah, sorry. I didn't read the "This example looks "broken", but that is intended. Please keep reading."

[2015-11-23 17:29] #3 closed

[2015-11-23 19:57] franktcurran opened #4 "Adding custom control example"
I'm giving this addon a try and adding a map was very easy to do. However, I'm pretty new to ember, and I was hoping someone could provide an example of the best way to add a control to a leaflet-map.

Thanks!

[2015-11-23 21:11] miguelcobain commented on #4
@franktcurran Welcome to Ember!

What kind of control do you want to add in your map?

[2015-11-23 21:32] franktcurran commented on #4
@miguelcobain Thanks!
A lot of the map tile providers out there also provide services that let you search for a location, providing some sort of autocomplete/typeahead functionality for potential matches, and return a normalized address (for example, google's Places API). I'd like to add a search control like this to the map and then be able to use the selected result for further processing in my

[2015-11-23 21:45] miguelcobain commented on #4
@franktcurran My advice is that you build such a control in Ember.
I'm doing it in my production app, and it is far more maintainable.

Basically use something like the ember-power-select add-on (or build your own thing). Use that to search a list using some places API service.
Then, in the select action, you can just `this.set('center', place.someCoordinates);` and the map will center on those co

[2015-11-23 21:45] #4 closed

[2015-11-24 12:44] franktcurran commented on #4
@miguelcobain, my question might not have been very clear, or I might just be very dense, or both. What I was wondering about was not how to make the control itself (although, I'll struggle with that as well), but how to add it to the map, so that it could be positioned like any of the other default controls. Looking at leaflet docs, http://leafletjs.com/reference.html#icontrol, I can go about doi

[2015-11-24 13:48] miguelcobain commented on #4
@franktcurran
you have two options for building leaflet controls:

1. The preferred one is to use ember to do that. You can see in the examples that I've used checkboxes and inputs to control layer insertion and removal. You can easily implement a control similar [to this one](http://leafletjs.com/examples/layers-control.html) with ember alone.
2. Sometimes we need leaflet controls, either by conv

[2015-11-24 17:14] floqqi opened #5 "Support for async relationship (Promise) for attributes"
If I want to render a map using a relationship for attributes (lat/lng/zoom) the component fails with assertion error: `You must provide either valid bounds or a center (or lat/lng) and a zoom value.`

Example:

[code]

Now I need to workaround with:

[code]

The `model` is loaded via the route and `model.coordinate` is loaded on-demand via ember-data (`belongsTo` relationship).

[2015-11-24 17:40] miguelcobain commented on #5
@floqqi, what should the map do in this case? I'm not entirely sure of that.

I think this behavior is both expected and desired.
You can do things like:
[code]

This would make your UI more responsive. Alternatively make sure that `coordinate` is resolved at the route level, and deal with asynchrony with loading templates, for example.
Bottom line is that i don't see how a map can deal with this.

[2015-11-25 00:10] jamesdixon opened #6 "This new version is..."
AWESOME!

Well, done! It's really a pleasure to use!

[2015-11-25 05:08] #6 closed

[2015-11-25 09:50] floqqi commented on #5
My thought was that the map component should render a grey container (like http://www.ember-leaflet.com/docs/container) until `coordinate` is resolved.

Other libraries do those things as well. E. g. [ember-cli-materialize](https://github.com/mike-north/ember-cli-materialize) rerenders (specifically realigns labels) input elements after the passed value changed (promise is resolved).

[2015-11-25 10:01] miguelcobain commented on #5
@floqqi I don't see anything at ember-cli-materialize that deals with promises.

My guess is that you see this behavior because it is the way our templates work.
If you write `{{model.someAsyncRelationship.name}}`, the template will update once the promise resolves.

That being said, we could make ember-leaflet promise aware, but it would need to be a global change.
Meaning that markers, tiles, an

[2015-11-25 10:02] miguelcobain commented on #6
Best issue ever!

[2015-11-25 16:01] drewda commented on #2
Thanks for adding this to the list, @miguelcobain!

There are often situations where my colleagues and I load up GeoJSON from an API endpoint or from a local file and add it as another map layer. It's not necessary to manipulate the individual geometries within the GeoJSON layer--just to add/remove/hide/show the layers.

Perhaps down the line, after adding simple GeoJSON layers, there would also b

[2015-11-26 05:37] marendra opened #7 "didnt see anything in the screen"
i need help, after installing ember-leaflet and put the template like this bellow :
    {{#leaflet-map lat=lat lng=lng zoom=zoom}}
       {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{/leaflet-map}}}

and put in some javascript

export default Ember.Controller.extend({
  lat: 45.519743,
  lng: -122.680522,
  zoom: 10
});

after i run ember server, the web di

[2015-11-26 10:12] miguelcobain commented on #7
@marendra

- In what files did you put the handlebars and javascript?
- Is there an ember-leaflet entry in your package.json?
- Is there a leaflet entry in your bower.json?

[2015-11-26 21:28] marendra commented on #7
i put handlebars in index.hbs and the javascript in index.js (controllers path),
yes there is ember leaflet in my package.json , "ember-leaflet": "2.0.6"
yes there is ember laflet in my bower.json "leaflet": "~0.7.7"

[2015-11-27 03:39] paddleman commented on #7
Styling perhaps?

....from @miguelcobain 's excellent [ember-leaflet guides] (http://www.ember-leaflet.com/docs/container)

[2015-11-27 04:19] marendra commented on #7
@paddleman ow man i forgot that, thanks

[2015-11-27 04:19] #7 closed

[2015-11-28 16:15] radcliff commented on #2
I noticed that ember-leaflet uses controllers heavily, but I thought that controllers were going away soon, in an upcoming version of Ember. Have you thought about what ember-leaflet might look like when that happens?

[2015-11-28 16:23] miguelcobain commented on #2
There seems to be a lot of people with that concern. However, have no fear, my friend.

Please read this article:
http://locks.svbtle.com/controllers-are-dead-long-life-controllers

[2015-11-29 07:18] patuku-roy opened #8 "Tiles loaded partially"
@miguelcobain I've tried to put the basic map but the tiles loaded partially, this is my template:

[code]

And this is the result:

![file 28-11-15 15 37 43](https://cloud.githubusercontent.com/assets/12027241/11455845/002180b4-96a4-11e5-8c62-4b608a8dece9.png)

Maybe you can give me some direction how to solve this problem, thanks in advance.

[2015-11-29 10:15] miguelcobain commented on #8
What styles are being used in map-one id?

[2015-11-29 11:37] patuku-roy commented on #8
You mean the mapURL? I'm using mapbox for the tiles and I chance to cartodb once and the tiles still unloaded. The mapbox style is mapbox.streets

[2015-11-29 13:13] miguelcobain commented on #8
This usually happens when the map container changes its dimensions after the first render. Maybe that happened after an orientation change?
I was asking for css styles you're using for the map container.

[2015-11-29 14:56] patuku-roy commented on #8
No style for that map except inline style using `Ember.$.("#map-body").height(xxx)` and I locked to portrait position.

[2015-11-29 15:02] miguelcobain commented on #8
@patuku-roy I think we discovered the problem.

When leaflet initializes, it measures its container size using javascript. This allows leaflet to know its boundaries. This way it can hide unseen tiles, markers, and other performance optimizations.

You're dynamically setting a height, but that probably happens after leaflet initializes.
To confirm this theory you can set two breakpoints:
- one her

[2015-11-29 15:02] #8 closed

[2015-11-29 15:10] patuku-roy commented on #8
Thanks @miguelcobain

[2015-12-01 06:59] radcliff opened #10 "Accessing the map from a computed property in the controller"
Is it possible to access to the underlying `map` object directly?

I'd like to be able to call a method like [`#getBoundsZoom()`](http://leafletjs.com/reference.html#map-getboundszoom) directly from the controller, in order to compute the `zoom` for the map. It doesn't work to put the call in an action triggered by `onLoad` because `zoom` will need to be resolved before the `onLoad` event can be f

[2015-12-01 10:27] miguelcobain commented on #10
@radcliff what exactly are you trying to do?
If you're trying to set the bounds of your map, you can use the `bounds` property in the latest ember-leaflet version.
Interchangeable with `center`.

[2015-12-01 17:18] radcliff commented on #10
Right. At first I thought I would like to use `bounds` all the time, but I need to fit the map to a collection of markers. So I am able to derive the bounds from the geojson collection of markers:

`bounds = L.geoJson(geojson).getBounds()`

but when the collection only contains *one* point, the bounds that is calculated makes no sense -- the same point is used for both corners. So setting the `bou

[2015-12-01 17:26] miguelcobain commented on #10
@radcliff exactly. I see your problem. What I'm saying is that you can use both center and bounds interchangeably. Example:

[code]

When you set `center` the map centers on that point.
If after you set `bbox` the map sets the view that contains that bounding box.

You can't set both `center` and `bounds`, though (makes sense). But I think you can work that.

If you really want to call `getBoundsZ

[2015-12-01 21:02] radcliff commented on #10
In the example you are showing both `center` and `bounds` params present at the same time, so I am confused as to whether you can use both params or not. It doesn't seem to work for me when I use both, is there something else to it?

[2015-12-01 21:12] miguelcobain commented on #10
@radcliff You're right, I made it look a bit confusing.

What I meant was that you can't *create* a map with bot bounds and center.
But, at a later time, you can set bounds or center.

Since we're using DDAU (data down actions up), we communicate with our component by changing data.
If we want to know when the component changed the data, we use actions.
I just made an assertion that initial state

[2015-12-02 06:44] radcliff commented on #10
yes, thank you. so the way it works is that i can say:

[code]

`bounds` is not initially set in the controller, but this wont break the map initialization. THEN `onViewreset` I call my own `setBounds` function, that basically just checks if there is at least 2 features before setting the `bounds`. Works :hammer: :construction_worker:

Here is what some of the controller looks like:

[code]

@migu

[2015-12-02 06:44] #10 closed

[2015-12-02 10:11] miguelcobain commented on #10
Perhaps using the `onLoad` action would be more idiomatic, wouldn't it?

[2015-12-03 22:01] grantovich opened #11 "write cookbook section and refer inheritance style ember-leaflet"
From what I gather, this should be a supported way of implementing event handlers:

[code]

When I do this and start dragging the map, I get a `"this" is undefined` error. And indeed if I check in the debugger, `this` has no value and there seems to be no way to reach the component instance from the event handler.

I tried setting some breakpoints within the `_addEventListeners` code in `base-laye

[2015-12-03 22:06] miguelcobain commented on #11
1. Why do you say that? What part of the docs made you think that?
2. Are you trying to catch `dragstart` of a map or of a marker?
3. Can you show me what the template looks like?

[2015-12-03 22:30] grantovich commented on #11
The functionality appears undocumented aside from [this comment in the source](https://github.com/miguelcobain/ember-leaflet/blob/v2.1.1/addon/components/base-layer.js#L89), and the fact that adding a function with the correct name does in fact result in the function getting called.

I was investigating this rabbit hole because I need the event handlers to be located on my custom map component its

[2015-12-03 22:38] miguelcobain commented on #11
@grantovich You're sneaky. :stuck_out_tongue_winking_eye:
That functionality isn't public.

If you take a closer look, that code calls a function named `methodName` which is defined as `'_' + eventName`. So, basically if you implement a method called `_dragstart` it should give you the functionality you want.

The reason we can't use `onDragstart` is because that name is reserved for actions. I'm

[2015-12-04 16:30] grantovich commented on #11
Haha, thanks! I should indeed have taken a closer look – I thought "well clearly since the function is being called at all, that ember-leaflet code must be calling it", without remembering that Ember itself has that built-in event handling. I had thought it was without the "on", though – just `click` works, for example, rather than `onClick`. I wonder if that difference is the reason `this` wasn't

[2015-12-05 09:11] radcliff opened #12 "L.rectangle component ?"
Any plans to add [`L.rectangle`](http://leafletjs.com/reference.html#rectangle)?

[2015-12-05 12:20] miguelcobain commented on #12
Definitely.
Anything in core leaflet will be accepted in core ember-leaflet.

[2015-12-05 12:42] miguelcobain commented on #11
Generally, I agree with your points.

I don't really agree with this. For example, I have a component called `map-with-controls` with renders a `{{#leaflet-map` and some custom layer controls I made using regular HTML. I can use `map-with-controls` anywhere in my app, as it is self contained, just as a component should be.

You're basically arguing in favor of inheritance over composition.
Definit

[2015-12-05 18:34] grantovich commented on #11
I see what you mean, I think. So your suggestion, if I wanted a custom marker (and wanted to keep that custom marker logic isolated in its own component), would be to create a `thing-marker` component, put the logic in there, and have that component's template just be a one-line `{{marker-layer ...}}`?

I'm not sure I see the advantage over my current approach, since the end result is basically th

[2015-12-05 19:52] miguelcobain commented on #11
@grantovich In my case I need to encapsulate not just the leaflet map but also some adjacent HTML that I then position absolutely over the map with CSS.
Example:

[code]
I couldn't do this with inheritance. I also use inheritance for some layers. Like I said, both are useful.

The analogue would be `this.incrementProperty('zoom')`. I prefer this because if switching map implementations would leave

[2015-12-08 19:16] knownasilya opened #14 "Add production setup to website"
The following is required for Leaflet to render assets correctly when doing a production build:

[code]

[2015-12-08 19:32] miguelcobain commented on #14
Confirm. We need to add this note to the docs.

[2015-12-10 13:59] adhithyaraja commented on #4
Hi, I'm new to ember.
lmap.on('dragend', function(){
			var bounds = lmap.getBounds();
	});
I want achieve the same using ember-leaflet addon. In the addon map container controls are not with me.
My template
{{#leaflet-map  lat=centerLocation.latitude lng=centerLocation.longitude zoom=6 }}
          {{tile-layer url=tileurl}}
   {{/leaflet-map}}
thanks in advance

[2015-12-10 16:46] miguelcobain commented on #4
@adhithyaraja please wrap your code in ```.
Also, you should open a new issue next time, please.

You want to obtain the bounds of your map, correct?

[code]
[code]

[2015-12-10 17:04] miguelcobain commented on #14
Solved in #15 and https://github.com/miguelcobain/ember-leaflet/commit/334cb9bbafb651e575464cca3f9224018a3dc32a.

[2015-12-10 17:04] #14 closed

[2015-12-12 09:28] drewda opened #17 "action parameters"
I'm plotting a number of markers that are built from Ember Data models:

[code]

I'd like to be able to modify the appropriate Ember Data model on mouseover start and end, to toggle a "selected" property. (That's going to highlight that same model in a different table view.)

I see how the `startMarkerMouseover` event in my code only receives the Leaflet raw event. Is there a way to provide parame

[2015-12-12 09:30] drewda opened #18 "feature group"
Have you considered adding support for [L.featureGroup](http://leafletjs.com/reference.html#featuregroup)? It would help for hiding/showing larger numbers of features, and also calculating `getBounds()` on multiple features.

[2015-12-12 09:39] drewda commented on #17
After reading https://github.com/miguelcobain/ember-leaflet/issues/10#issuecomment-161197787, I realized that the following would work:

[code]

Thanks for sharing your code, @radcliff.

[2015-12-12 09:39] #17 closed

[2015-12-12 11:30] miguelcobain commented on #17
I really love how the only issues arising are basically normal Ember problems. :+1:

[2015-12-12 11:32] miguelcobain commented on #18
@drewda Can you provide me a concrete use case?

What are you using to show/hide layers?

[2015-12-12 17:32] drewda commented on #17
Good to know the name for the pattern. Thanks, @miguelcobain.

[2015-12-12 17:39] drewda commented on #18
When I've previously used Backbone to wrap Leaflet features and feature groups, I'd have a Backbone view wrap the feature group, in order to be able to toggle visibility of the group as a layer and to allow users to zoom in to the extents of each layer.

For example: a bunch of bus stops as markers in one feature group/layer, a bunch of route polylines as geometries in another feature group/layer,

[2015-12-12 20:24] mjanda opened #19 "Cleanest way to keep one polyline on top of others (but under markers)?"
Can you point me in the right direction? I'm thinking in several directions, but nothing what I would consider elegant solution.

[2015-12-12 21:33] miguelcobain commented on #19
After reading https://github.com/Leaflet/Leaflet/issues/185, this seems to be a svg limitation.

Can you control the order in which you render your polylines?

[2015-12-12 22:47] mjanda commented on #19
Well, I'm hiding and showing one of them and I want to keep it at the bottom (I want to highlight part of other polyline that way), so I can't.

[2015-12-12 22:57] mjanda opened #20 "New addon: wrapper for MultiOptionsPolyline"
It's my first ember addon / npm package etc., so I hope I didn't make some newbie mistake :-) But it works for me...

https://www.npmjs.com/package/ember-leaflet-multi-options-polyline

[2015-12-12 22:59] miguelcobain commented on #19
@mjanda The best way should be extending polyline and call method `bringToFront` on the leaflet layer. http://leafletjs.com/reference.html#path-bringtofront

Example:
[code]

Alternatively, if you don't want to extend a component, you can create an `onAdd` action and call `bringToFront()` there (probably easier).

Keep in mind that this will bring your layer to the front of *all* path layers.

[2015-12-12 23:12] miguelcobain commented on #20
Awesome job! Congrats on your first addon!
It looks good to me.

Want to make a PR that adds it to the list?
www.ember-leaflet.com is just a regular ember. It's located at `tests/dummy` directory of this repo.

[2015-12-12 23:13] mjanda commented on #19
Thank you, works great.

[2015-12-12 23:13] #19 closed

[2015-12-12 23:14] miguelcobain commented on #20
Specifically this file: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/dummy/app/templates/addons.hbs

[2015-12-12 23:14] mjanda commented on #20
Ok, I'll send it tomorrow.

[2015-12-12 23:16] miguelcobain commented on #18
What I was asking was how were you toggling visibility of layers. Where you using leaflet's included layer control? http://leafletjs.com/reference.html#control-layers

[2015-12-13 06:40] #20 closed

[2015-12-13 19:39] drewda commented on #18
When using Backbone (or another library to wrap views), I generally prefer to create my own controls for toggling layer visibility that live outside of the map div.

[2015-12-13 19:50] miguelcobain commented on #18
This is my point. I've never needed feature group to toggle layer visibility. I just use normal ember templates. Example:
[code]
When `poisVisible` is `false`, the markers are removed/not added to the map.

Regarding the bounds issue, I normally use an ember computed property. Example:
[code]

Let me know if this solves your issues.

[2015-12-14 18:05] plcarmel opened #22 "Popup width is not updated automatically when content changes"
In my app, when the user clicks on a marker, a promise needs to be resolved before the popup content is rendered by Ember.

The problem is that the width seems to be computed only once (at the time the popup opens) and the popup ends-up being not wide enough for the content.

Any idea how to fix this ?

[2015-12-14 18:52] plcarmel commented on #22
I circumvented the problem this way:

I had this:
[code]

Changed it to:
[code]
with templates/components/some-component.hbs:
[code]
and components/some-component.js:
[code]
It works but it would be nice if it could be made built-in.  Any idea on how to do this ?

[2015-12-14 19:20] drewda commented on #18
That's great--and addresses both of my issues. Thank you.

Worth including a few of these as examples in the docs, for others who are still learning how to use the Ember approach to Leaflet?

[2015-12-14 19:20] #18 closed

[2015-12-14 23:44] miguelcobain commented on #18
I'm thinking of adding a "cookbook" section on the website. These could be some recipes. The website is based on ember-power-select.com
I accept PR's with such a section.

[2015-12-15 02:31] adhithyaraja commented on #4
@miguelcobain Thanks. My doubt was similar to this. So I continued in this.
Your code worked for me. In the code, I got only the control of that particular event (onMoveEnd) . But my first doubt was How do I get the map(this.L) to my route?
If you ask , why I want map control in route. I'm have to add third party map api layers in the basic layer map and that's where I'm in need of map control glo

[2015-12-15 09:28] miguelcobain commented on #4
Sorry, I didn't understand this question. What is `map(this.L)`? Try to rephrase your question, please.

You mean you need 3rd party tile layers? That is explained in the docs. Just use the `tile-layer` componente.

[2015-12-15 19:41] drewda commented on #18
Sounds like good additions to a "cookbook." When I have spare time, I'll be glad to contribute.

[2016-01-06 06:57] adhithyaraja opened #24 "Locate Me option in addon"
Hi,
Can I able to achieve the same via this addon? Please help.
[code]

[2016-01-06 09:27] miguelcobain commented on #24
Which locate are you talking about?
There's this addon: https://github.com/domoritz/leaflet-locatecontrol
Or there is the leaflet's locate method: http://leafletjs.com/reference.html#map-locate

Anyway, yes.
You can do that if you subclass the map component.
Example:
[code]

[2016-01-06 09:27] #24 closed

[2016-01-07 09:33] adhithyaraja commented on #24
I achieved using the second option : http://leafletjs.com/reference.html#map-locate
[code]
First option : https://github.com/domoritz/leaflet-locatecontrol
I tried using your code, I'm getting error like **this.L.control.locate  is not a function.**

Thanks.

[2016-01-07 12:29] miguelcobain commented on #24
Have you included that plugin's javascript in your app?

[2016-01-07 13:05] adhithyaraja commented on #24
I did bower install. Isn't that enough?

[2016-01-07 18:47] miguelcobain commented on #24
@adhithyaraja No.

The build process must be aware that you want to import that javascript code.

Please read http://ember-cli.com/user-guide/#asset-compilation for more information.

[2016-01-13 14:26] ssured opened #25 "zoom=0 should not trigger error"
when using the map with zoom=0, this line is triggered
https://github.com/miguelcobain/ember-leaflet/blob/4ff7b77f2ff59e5f72d549e04c3716d7e9105915/addon/components/leaflet-map.js#L84

zoom=0 is a valid value though

Sorry that I do not take the time now to make a PR with a test for this...

[2016-01-13 16:48] #25 closed

[2016-01-13 18:52] ssured commented on #25
Cool, thanks :+1:

[2016-01-20 22:38] lucacorti opened #26 "Using fitBounds"
I'm using a computed property to center the map on bounds calculeted from the set of markers added to the map:

[code]

This works but not on the initial page load. On the first page load the map, the map is not zoomed. The set of markers is set on the controller from the route.

[2016-01-20 23:05] miguelcobain commented on #26
@lucacorti What does your template look like?

[2016-01-20 23:07] lucacorti commented on #26
[code]

[2016-01-20 23:12] miguelcobain commented on #26
Do your pages.location get changed during the load? (caused by, for example, async relationships)

If you do this, how many logs to you see in a a single page load:
[code]

[2016-01-20 23:21] lucacorti commented on #26
I have two cases, in one `location` is a computed property on the model. In the other, location is a computed property on the same property through a relationship which is not declared async and is sideloaded via JSONAPI in the route. In both cases, I see only one log line with the array of locations.

[2016-01-20 23:27] miguelcobain commented on #26
This is the line that sets the bounds: https://github.com/miguelcobain/ember-leaflet/blob/master/addon/components/leaflet-map.js#L88

Can you break point there and make sure that `this.get('bounds')` has the expected value?
Also, if places is an array, your computed probably should look like `Ember.computed('places.[]', function() {.

I'm running out of ideas. :/

[2016-01-20 23:33] lucacorti commented on #26
Yes, `fitBounds` is called exactely once and this.get('bounds') returns what seems the correct value to me.

[2016-01-20 23:35] miguelcobain commented on #26
Can you somehow record this happening? Maybe if I see it I can understand what is happening.

[2016-01-20 23:44] lucacorti commented on #26
Here you go: http://recordit.co/uhtuH9zJfh

I Initially refresh the page a couple times. As you can see the map is not zoomed correctly. Then I transition to a different route, where the map is correctly zoomed, and click back to the original one, which is now correctly zoomed too.

[2016-01-20 23:55] miguelcobain commented on #26
@lucacorti I'm pretty confident that the bounds must be incorrectly computed initially.

Can you show me the `location` computed property on the model? I believe that `location` initially isn't correct because the computed that depends on a relationship.

Also, try changing the bounds computed to `Ember.computed('places.@each.location', function() {`.

[2016-01-21 00:00] lucacorti commented on #26
Using `'places.@each.location'` has no effect. This is the relevant part of the model:

[code]

[2016-01-21 00:02] miguelcobain commented on #26
What about this one? Or isn't it used in this faulty map instance?

[2016-01-21 00:04] lucacorti commented on #26
Both behave the same, the other one just retrieves the property from the relationship:

[code]

[2016-01-21 00:13] miguelcobain commented on #26
Try changing it to:
[code]
while keeping the previous `Ember.computed('places.@each.location', function() {.`

tip, you can just do:
[code]
and crush 12 lines of code into 1. :)

[2016-01-21 00:15] lucacorti commented on #26
Nice :)

Still no go though.

[2016-01-21 00:20] miguelcobain commented on #26
@lucacorti I'm officially out of ideas.

Since I can't reproduce that problem here, I think right now we have two options:

1. you provide a failing test that reproduces this issue and I'll try to make it pass
2. you provide a repository that reproduces your problem and I try to solve it from there as well

since I can't have a starting point, it's hard for me to solve it. :/

[2016-01-21 00:22] lucacorti commented on #26
Sure, I'm doing some more debugging, I'll let you know what I find or I'll provide code.
Thanks for you time :)

[2016-01-27 14:16] miguelcobain commented on #26
@lucacorti that problem was that you were including the styles in the `tsc.hbs` template with this line:
`<link rel="stylesheet" href="/assets/thats.css">`.

This means that, at the time of rendering, leaflet doesn't know the container size. So, `fitBounds` doesn't really make sense when we don't know the container size, right? Like, "fit" where?

Placing the style `<link` in <head> at index.html

[2016-01-27 14:16] #26 closed

[2016-01-27 14:20] miguelcobain commented on #22
Yes, the trick here is calling `update` on the popup layer.
AFAIK, an automated way of doing this isn't possible. :/

Any ideas?

[2016-01-27 18:08] lucacorti commented on #26
Thanks, that's an hack I was trying to merge two different layouts in a single ember project without reworking the CSS.

Yay for art ;)

[2016-01-29 08:49] ssured opened #28 "Update to Leaflet 1"
It seems leaflet made a lot of progress since 0.7, but it is all 'hidden' in the master 1.0 branch. The release schedule of leaflet is far behind schedule and my guess is that 1.0 should be ok to go. What is your roadmap; do you  want to wait for the stable 1.0, is there a place for a separate ember-leaflet-1-0 addon, or is this repo a place where dev on 1.0 could start?

About my use case; I have

[2016-01-29 09:25] miguelcobain commented on #28
This is definitely the right place to have that.
Is there any known schedule for leaflet 1.0 stable?

[2016-01-29 09:36] ssured commented on #28
Well, I saw a presentation of @mourner which was recorded a year ago or so, in which he announced it would be a couple of months but all without guarantees, as it is foss. See https://www.youtube.com/watch?v=2H9g2DBIuLA.
My guess 1.0 beta 2 is more stable than a 'regular' beta. There is quite some activity in the Leaflet repo and possibly there just was not enough time to ship the 1.0.

[2016-01-29 10:07] mourner commented on #28
Correct. Leaflet beta2 is pretty stable but master even more so, and we planned to label the next release as 1.0 RC1. Just didn't get around actually putting up a release yet, should happen any time these days.

[2016-01-29 10:09] ssured commented on #28
Cool, thanks for your quick insight!

[2016-01-29 11:27] miguelcobain commented on #28
I'm psyched with Leaflet 1.0 changes! I knew there were some perf improvements, but not so many of them.

@ssured I want this project to work with leaflet 1.0. The only thing I'm concerned about are the plugins compatibility. Many of them probably don't use 1.0.
Maybe the API didn't change significantly between both Leaflet version and we can support both versions without too much effort.

@mourne

[2016-01-29 11:57] mourner commented on #28
@miguelcobain the biggest breaking public API changes are that custom layers now need to inherit from `Layer` class, and plugins that depended on `viewreset` event will also need to depend on `zoom` event, as far as I remember. Most plugins will either work straight away or require a one-line change.

[2016-01-29 12:03] miguelcobain commented on #28
@ssured Can you please take a first stab at this? ember-leaflet has tests. You can check if anything breaks.

[2016-01-29 12:53] ssured commented on #28
@miguelcobain I'll see what I can do. Now I know our goals are quite aligned, so I'll fork this repo and see where we'll end. It will be a spare time project though, I'll let you know when I make progress. Great stuff!

[2016-01-29 13:11] ssured commented on #28
Not to self, or whoever wants to hack on this. Leaflet builds for master are available on
[code]

[2016-01-29 14:52] miguelcobain commented on #28
@ssured you can probably get beta versions from bower. Since the API is the same, it should work on both master and beta.

Then just change this line accordingly: https://github.com/miguelcobain/ember-leaflet/blob/master/blueprints%2Fember-leaflet%2Findex.js#L18

[2016-01-30 20:35] ssured commented on #28
This is amazing. Just changing bower to `"leaflet": "1.0.0-beta.2"` and everything still works. Quite some tests do fail, but the documentation pages work fine. Moving up to 1.0 seems a manageable path. Awesome work @mourner!

[2016-02-02 10:36] kunerd opened #29 "Highlight selected marker on map"
In my application I have a route called 'places' that shows all places as markers on the map. I also managed to get the markers clickable. After clicking a marker the route changes to 'places/:place_id' and detailed information are shown next to the map. This works without any problems. Now, I'm trying to highlight the selected marker on the map, but I couldn't find a way to do this without using

[2016-02-02 11:45] miguelcobain commented on #29
Thanks. My pleasure. :)

I think it is a good sign that the problems people are having with ember-leaflet are just "ember problems". Those kind of problems are more easily "googlable" and have the support of all the community and not just a single addon's creator/community.

So, if I understood correctly, you have a route for an individual place and a route for a collection of places. A quick solu

[2016-02-02 11:45] #29 closed

[2016-02-02 11:47] miguelcobain commented on #29
Ah, I think there is still another option which is to conditionally bind the icon:

[code]

[2016-02-03 09:09] ssured commented on #28
Have a look at https://github.com/ssured/ember-leaflet-1/tree/leaflet-master All tests pass. I made one PR on leaflet source, and two tests are now aync. Maybe we should pass the `animate:false` option http://mourner.github.io/Leaflet/reference.html#map-animate to allow for synchronous tests again

[2016-02-03 09:31] miguelcobain commented on #28
@ssured I don't mind async tests, but it looks like you're using setTimeouts, which can be unpredictable. Some kind of an "onAnimationEnd" event would be better.

I had an idea.
Maybe we could use ember-try to run the tests with leaflet stable and beta!

Btw, looks like your PR was rejected. The issue seems to be deeper.

[2016-02-03 09:32] miguelcobain commented on #28
If the only problem are popups, looks like we're on a good track!

[2016-02-03 12:52] ssured commented on #28
The popup thing seems more thorough, see https://github.com/Leaflet/Leaflet/pull/4188 and https://github.com/Leaflet/Leaflet/issues/4189

What I did not do is check all possible options agains the (temporary) docs http://mourner.github.io/Leaflet/reference.html

[2016-02-08 13:12] Suven opened #31 "Adding custom icons is broken"
Hey!

I am not able to use custom icons in `marker-layer` due to a changed leaflet-api.

Demo-Code

    {{#marker-layer location=marker.location icon=marker.icon}}marker.text{{/marker-layer}}

See this issues for more infos: https://github.com/Leaflet/Leaflet/issues/534

It really does not matter what the contents of `marker.icon` are, you'll always receive

    TypeError: options.icon.createIcon

[2016-02-08 14:23] miguelcobain commented on #31
@Suven what is the value of `marker.icon`? It should be set to an instance of `L.icon`.

[2016-02-08 14:43] Suven commented on #31
Oh. Sorry about that.. I was under the wrong impression that this would have been abstracted by the addon.

It works like you suggested

[2016-02-08 14:43] #31 closed

[2016-02-08 15:14] miguelcobain commented on #31
@Suven any idea of how we could abstract it?

[2016-02-08 15:19] Suven commented on #31
I think leaflet is overcomplicating things with their options for size, a separate retina-graphic and so on.

I would suggest to just give an url as icon-parameter and pass that to the constructor. If you additionally support a class-parameter, the rest could be done via CSS anyway.

Maybe it's a good idea to add this as a different attribute to the component to not break existing apps, or apps wh

[2016-02-08 18:26] miguelcobain commented on #31
This gave me an idea. We could have some helpers to quickly create icons and such things. Example:

[code]

Similar helpers could be created for div icons and even latlngs `location=(latlng model.latitude model.longitude)`.

[2016-02-08 19:27] Suven commented on #31
Sounds great! Would love it.

I'm currently working on stuff around this plugin anyway. If you like to, I can also make a PR-Proposal

[2016-02-09 14:04] miguelcobain commented on #31
I'd like to list exactly how the helpers would work and their api's.
I'm a bit worried if bindings would work.

[code]

Changing `iconUrl` would change the icon as well?  Not entirely sure of how helpers work at this level.

[2016-02-16 23:45] mdebbar opened #32 "`ember-invoke-action` isn't automatically installed"
When I followed the docs and installed `ember-leaflet`, I got the error:

The problem is that the dependency `ember-invoke-action` doesn't get installed automatically. I'm not too familiar with Ember, but I think that should be done in the blueprint?

[2016-02-16 23:47] miguelcobain commented on #32
Ah, we should move that to `dependencies` and not `devDependencies`. That way the dependency gets installed.

[2016-02-16 23:49] mdebbar commented on #32
It's already in `dependencies`.

[2016-02-17 13:39] badazz91 opened #33 "Add support for interactive-icons"
Right now marker-icons can only contain interactive elements inside of popups. It would be nice to have a marker-container that wraps for example a custom marker-icon in form of a ember-component. This would allow for realtime-icon-state-changes in an ember-way (think of places with state that can change over time).

After digging into the code this seems not possible right now, or did I oversee s

[2016-02-17 13:47] miguelcobain commented on #33
@badazz91
You can have things like
[code]

then your controller/component can change `selectedIcon` and the marker icon would change accordingly. `selectedIcon` would have to be an `L.icon` instance (a leaflet class).

Is that enough for your needs? If not, what API were you imagining for what you need?

[2016-02-17 13:54] badazz91 commented on #33
Think of an svg-icon-component with dynamic coloring, depending on state. The same thing you do for popup (hijacking L.popup), for markers (L.divIcon with ember-component embedded).

[2016-02-17 14:13] miguelcobain commented on #33
I see.

In other words, why would
[code]
render into the popup and not the marker's icon?

We could do the same thing, but for icons (although just div icons, probably):
[code]

At the time it felt a natural way of easily creating popups.

As we know, ember components only provide two possible blocks: normal and the inverse.
So a possible API for this could be:

[code]

This is good because it is

[2016-02-17 14:26] fpauser commented on #33
Would also love to see support for custom markers - the 'complex' implementation looks good to me.

[2016-02-17 14:33] badazz91 commented on #33
The 'complex' would do the trick, I think.

[2016-02-17 15:51] fpauser commented on #33
To illustrate it in more detail, with embedded components:

[code]

[2016-02-17 16:13] miguelcobain commented on #33
@fpauser you can achieve something similar today:

[code]

[code]

The `makeIcon` function would return an appropriate leaflet icon given the system instance.

[2016-02-17 18:15] fpauser commented on #33
Yes, this should work, will have a try. Thanks for pointing this out!

[2016-02-17 18:44] ForSpareParts commented on #33
I've actually had to muck about with icons as well, so this is definitely interesting to me!

API-wise, I agree that defining the icons in the template would be nicer... and more complex. I guess `Icon` isn't even a `Layer` in Leaflet terms. It's just a... thing?

And, to make things even more fun: unlike popups, `DivIcon` doesn't take HTML elements, and doesn't have `setContent`/ `getContent`. Yo

[2016-02-17 19:06] mdebbar opened #35 "How to get a reference to the leaflet map?"
In some cases, we need to have a reference to the map to call some leaflet functions. Is there an easy way to access the map?

There are several use cases:
- If the url doesn't have the `lat` and `lng` params, we need to call `map.fitBounds(...)` based on the current data.
- We need to support drawing on the map using `leaflet.draw` which requires a reference of the `map`.
- We have a custom `zoom

[2016-02-17 21:20] mdebbar commented on #35
Extending `LeafletMap` would be one solution but I couldn't get it to work.

[2016-02-17 23:03] mdebbar commented on #35
Ok now I'm able to extend `LeafletMap` and make it work. But I still prefer if those use cases can be done with composition instead of inheritance.

[2016-02-17 23:36] miguelcobain commented on #35
@mdebbar you can do two things:

1. Use inheritance, like you've said
2. Use the `onload` map action. The action is called with the original leaflet event passed in. From that event you can access the leaflet map instance.

[2016-02-17 23:36] #35 closed

[2016-02-17 23:37] miguelcobain commented on #35
Also, this discussion might be helpful: https://github.com/miguelcobain/ember-leaflet/issues/11

[2016-02-18 06:38] badazz91 commented on #33
I have opened an issue in leaflet, concerning this API change for `L.divIcons`. Let's find out what those guys have to say about it.

Thanks for your thoughts!

[2016-02-18 10:03] miguelcobain commented on #33
Here's the leaflet issue: https://github.com/Leaflet/Leaflet/issues/4259

[2016-02-18 10:06] miguelcobain commented on #33
I've recently mentioned a helper for creating icons here: https://github.com/miguelcobain/ember-leaflet/issues/31#issuecomment-181875568

Could be the only option for now.

[2016-02-18 10:12] miguelcobain commented on #33
Example:

[code]
would turn into:
[code]

[2016-02-25 04:58] brancusi commented on #33
This addon is really excellent. Thank you!

Looking forward to this addition.

[2016-02-25 22:56] canufeel opened #36 "paper-button inside popup does not work"
example code:

component.hbs

[code]

component.js

[code]

Works fine with non paper button but hits `Uncaught TypeError: Illegal invocation` with ember-paper
error trace:

[code]

[2016-02-28 08:13] ianpetzer opened #37 "Open popup for marker layer by default"
Hi there,

Thanks for this amazing library. We've upated from version 1 (gabesmed) and we've taken advantage of the maker layer to create some beautiful popups for our marker layers.

I would like have one of these popups open by default when the map is created but I'm struggling to figure out how to do it.

Is there a way to do this?
Thanks!

[2016-02-28 13:12] miguelcobain commented on #37
Hi. Glad you're enjoying it. :)

If you create the marker layer with `popupOpen=true`, does it meet your requirements?

[2016-02-28 13:31] ianpetzer commented on #37
Hi Miguel,

Thanks for the speedy reply.

That option works perfectly for me. Thanks!

On Sun, Feb 28, 2016 at 3:12 PM, Miguel Andrade <notifications@github.com>
wrote:

[2016-02-28 13:32] ianpetzer commented on #37
I'll close this issue since I'm all sorted

[2016-02-28 13:32] #37 closed

[2016-03-03 13:59] andreabettich opened #38 "Marker Icons don't work with ember 2.4"
I just started a new project with ember 2.4 and ember-leaflet and I'm having problems getting the marker icons to work.

I created a new ember 2.4 project with just an example in it and it also doesn't work.
[Test Project Ember 2.4 and ember-leaflet](https://github.com/andreabettich/ember-leaflet-test)

[code]

The md5 hash of the icons are not the same which is also strange and maybe can help you

[2016-03-03 23:25] kmmathis opened #39 "Accessing Leaflet methods"
What is the prescribed way for calling leaflet's methods like getBounds or getCenter? In a non-Ember environment I would have the map stored in a variable and call the methods that way, but I'm still a little confused on where the map object is stored when it's an Ember component.

[2016-03-04 09:56] localyost commented on #39
Hi kmmathis,
I'm not quite sure if this is what you're looking for but I've done this in for my apps:
Whenever I initialize a map in the template, I use the `onLoad()` method to then set a property in my controller.

in your template handlebars set a function to be called upon loading the map

[code]
and then in the controller declare the getMap action:

[code]
 then you can do something in the co

[2016-03-04 10:00] miguelcobain commented on #39
@localyost point a valid solution.

This is a duplicate question. Here is the other issue: https://github.com/miguelcobain/ember-leaflet/issues/35

I'd like to point out that the whole idea is to avoid to use leaflet directly. Some times you need to, but adding a marker like in @localyost's example doesn't seem a good usage of that.

Glad you liked it. :)

[2016-03-04 10:01] #39 closed

[2016-03-04 10:05] localyost commented on #39
this is **definitely ** true, sorry about that... I just used the first thing that came to my head :)

[2016-03-06 21:33] borisrorsvort commented on #38
Glad I'm not the only one. :+1:

[2016-03-07 09:11] borisrorsvort opened #41 "Map dimensions"
I was trying to bound map dimensions to window size using https://github.com/mike-north/ember-resize but apparently there is no way to bind styles attributes of the .leaflet-container directly. I know I could use jquery but I'd like to stay way from it if possible.

Do you have a solution in mind ?

[2016-03-07 10:35] miguelcobain commented on #41
@borisrorsvort if I understood correctly you want to update the map's dimensions when the window resizes.
The best way to do that would be to extend the leaflet-map component with the `ResizeAware` mixin.

Example:
[code]

`this._layer` is the raw instance of the leaflet map layer. More info on the `invalidateSize()` method: http://leafletjs.com/reference.html#map-invalidatesize

Feel free to reop

[2016-03-07 10:35] #41 closed

[2016-03-07 10:54] borisrorsvort commented on #41
I didn't know you could do this :) I'll try that. Thanks!

[2016-03-07 20:43] borisrorsvort commented on #41
:+1: that worked! Thanks :smile:

[2016-03-08 16:48] ForSpareParts opened #42 "Would be useful to have this scope bound to the component in leaflet events"
I frequently subclass ember-leaflet components to get some specific behavior, and as such, I have events that the component should handle itself. It'd be handy to be able to do this:

[code]

At present, code like the above results in an error, as `this` is undefined. Instead, I have to use this workaround:

[code]

After investigating, it appears that the culprit is the InvokeActionMixin, which i

[2016-03-08 16:54] miguelcobain commented on #42
Notice here: https://github.com/miguelcobain/ember-leaflet/blob/master/addon%2Fcomponents%2Fbase-layer.js#L83

We invoke a method on the class named `'_' + eventName`. So, you can just create a method named `_click`, for example, and go with that.
There is a reason for the `_` prefix. Without it, some names would clash with already existing DOM events. `click` is already taken. `onClick` is for th

[2016-03-08 18:54] ForSpareParts commented on #42
Ah, I missed that. Thanks!

This covers most of my cases, yes -- certainly everything directly related to the event system. There's a side case where layers take callbacks (rather than events) and I'd like to bind those callbacks to the component context, but that's more of an Ember problem -- the notion being that I want "methods" on a class that are actually functions bound permanently bound to

[2016-03-08 20:24] #42 closed

[2016-03-08 20:24] miguelcobain commented on #42
What kind of callbacks, for example?

[2016-03-08 20:32] ForSpareParts commented on #42
At the moment, it's stuff like `style` and `forEachFeature` for GeoJSONLayer.

[2016-03-08 20:33] miguelcobain commented on #42
I would accept a PR to add L.geoJson, btw. :)

[2016-03-08 20:36] ForSpareParts commented on #42
Noted ;-)

[2016-03-08 20:40] ForSpareParts commented on #42
It's actually turning out to be a surprisingly convoluted layer to *use*. Whereas other layers can take, for instance, visual properties like line weight and color, realistic GeoJSON use requires these functions -- and they, in turn, require a bit more understanding of the Leaflet API than is ideal. You have to know what to do with a raw `Layer` object, for instance. I can deal with it personally,

[2016-03-09 02:41] iambenjohnson commented on #38
I am also having this problem using Ember 2.4.0 and 2.4.1. One thing I don't understand is that [in the website](http://www.ember-leaflet.com/docs/adding-layers), why do the JavaScript snippets say `export default Ember.Controller.extend` whereas if the map was built as a component (like the example posted  by @andreabettich above) it should say `export default Ember.Component.extend`.

[2016-03-09 09:27] miguelcobain commented on #38
@iambenjohnson as you said very well "**if** the map was built as a component". :smile:

You can use `{{#leaflet-map` component in a controller's template, in a component's template or you can even subclass the LeafletMapComponent. None of this is ember-leaflet specific. This is true for any ember component.

@andreabettich @borisrorsvort @iambenjohnson When you say "marker icons don't work" you m

[2016-03-09 09:34] borisrorsvort commented on #38
![image](https://cloud.githubusercontent.com/assets/39081/13630976/7dc97e30-e5e2-11e5-9ba5-2cd29a0f00bf.png)

[2016-03-09 10:08] borisrorsvort commented on #38
For a a custom icon. Default works well :smile:

[2016-03-09 10:18] miguelcobain commented on #38
@borisrorsvort how are you defining the custom icon?

[2016-03-09 10:23] borisrorsvort commented on #38
![image](https://cloud.githubusercontent.com/assets/39081/13632303/4debdbc0-e5e9-11e5-9c5c-de8e908d72d3.png)
![image](https://cloud.githubusercontent.com/assets/39081/13632319/5f5bf0ca-e5e9-11e5-9da0-f0e510658f3d.png)

[2016-03-09 10:23] miguelcobain commented on #38
The test project from @andreabettich doesn't have any custom icons.

I've updated ember-leaflet project to latest ember and ember-cli.
You can see the demo live at www.ember-leaflet.com

That proves that default marker icons work, @andreabettich

[2016-03-09 10:27] miguelcobain commented on #38
@borisrorsvort that won't work.

When you do `icon=userCustomIcon` you're actually saying that the `icon` property **is a function**. `userCustomIcon` is a function, if you take a closer look.

You can solve this by making `userCustomIcon` the icon directly:
[code]

or, if you need a more complex icon, you can just use a computed property:

[code]

[2016-03-09 10:30] miguelcobain commented on #38
I will close this until further developments. Feel free to comment anyway.

[2016-03-09 10:30] #38 closed

[2016-03-09 10:32] borisrorsvort commented on #38
Yep thank that work. I'm not the only one who did that mistake. Maybe its a good idea to put an example in the docs :smile:
Thanks for the help and the lib nonetheless :+1:

[2016-03-09 10:34] miguelcobain commented on #38
Here is an attempt of making custom icons even easier: https://github.com/miguelcobain/ember-leaflet/issues/33#issuecomment-185638004

[2016-03-09 10:35] borisrorsvort commented on #38
:+1:

[2016-03-09 10:40] miguelcobain commented on #31
Update: helpers are bound normally. Twiddle: https://ember-twiddle.com/82260a36dc9d28f9f434?openFiles=application.template.hbs%2Cmy-component.template.hbs

This feature could be very easy to do.

[2016-03-09 10:42] miguelcobain commented on #33
Update: https://github.com/miguelcobain/ember-leaflet/issues/31#issuecomment-194233809

[2016-03-09 11:19] #33 closed

[2016-03-09 11:20] miguelcobain commented on #33
Added `point`, `icon`, and `div-icon` helpers in a published `2.2.0` version. :)
Changes: https://github.com/miguelcobain/ember-leaflet/commit/bc55707ddddd68cec978e4102a5cd7972cf14f56

Enjoy!

[2016-03-09 11:24] miguelcobain commented on #33
Any suggestions for covering this on the docs?

[2016-03-09 11:41] miguelcobain commented on #33
If all the icons use the same icon, you should either fallback to the old way or use

[code]

[2016-03-09 11:46] miguelcobain commented on #38
@borisrorsvort check the new helpers that I published in 2.2.0: https://github.com/miguelcobain/ember-leaflet/issues/33#issuecomment-194247389

[2016-03-09 12:32] iambenjohnson commented on #38
Thanks @miguelcobain. Your comments helped me get my templates working.

[2016-03-09 12:32] borisrorsvort commented on #38
@miguelcobain :dancers:  Nice :)

[2016-03-10 00:47] fpauser commented on #33
Added some basic documentation for the new helpers, see #43

[2016-03-15 18:47] saerdnaer commented on #28
@ssured Did you have time to look into the popup problems again?

[2016-03-15 20:35] ssured commented on #28
To be honest, no... 'My' fork just works for me till now. The popups work, but you need to manually layout your content. Provide a width and height for your popup and all works fine

[2016-03-15 21:30] saerdnaer commented on #28
Can you provide a link to your fork? Applying https://github.com/ssured/Leaflet/commit/e2daf6dbde44984c2214253a25adb79c5771845f to my local copy didn't work for me.

[2016-03-16 07:24] ssured commented on #28
https://github.com/ssured/ember-leaflet-1/tree/leaflet-master

[2016-03-18 02:51] kmmathis opened #45 "Excluding images from Broccoli Asset Rev"
Should this addon be responsible for excluding the images in /assets/images from being modifed by broccoli-asset-rev? I just ran into an issue with production builds where broccoli-asset-rev is adding fingerprints to the image file names, causing broken images in my maps.

Of course us developers can exclude them manually in our build file, but I thought maybe there was a way for this to be built

[2016-03-18 02:59] kmmathis commented on #45
FWIW, here is what I have in my ember-cli-build.js for excluding the images from being fingerprinted

[code]

[2016-03-18 02:59] kmmathis commented on #45
DOH. Never mind all this, I just ran across this very issue in the readme. Sorry about that.

[2016-03-18 02:59] #45 closed

[2016-03-21 00:16] SirZach opened #46 "throttle zooming"
On mobile Chrome, it's very easy to send lots and lots of zoom events really fast by using the finger-pinching method. As a result, and after some Chrome remote debugging, I can make the app stop functioning after sending off too many network requests for the map tiles.

I was thinking about debouncing zoom requests to `ember-leaflet` but not sure how to do that yet. Just wondering if you've got a

[2016-03-21 12:52] miguelcobain commented on #46
@SirZach you can debounce ember-leafet zoom actions just like any other ember action.
Example: http://www.ember-power-select.com/cookbook/debounce-searches
or even the same example "on steroids" using the awesome ember-concurrency: http://ember-concurrency.com/#/docs/examples/autocomplete

[2016-03-21 13:35] SirZach commented on #46
@miguelcobain but I don't see where I have power to debounce or use `ember-concurrency` for zoom actions. It seems like all of that is handled completely within `ember-leaflet`

[2016-03-21 13:53] miguelcobain commented on #46
@SirZach ember-leaflet doesn't do any debouncing at all. Like ember-power-select, that is a concern left to the user.

ember-leaflet sends the zoom actions. You need to use them and debounce an action. e.g Ember provides `Ember.run.debounce`.

[2016-03-21 14:30] SirZach commented on #46
@miguelcobain right, I understand that ember-leaflet doesn't do debouncing but I don't know where I can debounce the actions that are sent to leaflet.js...

[code]

But from what I've seen in ember-leaflet, `onZoomstart` will trigger leaflet.js actions and then call any actions associated to `onZoomstart` that I could then debounce but at that point it's too late since leaflet.js is going to start

[2016-03-21 14:34] miguelcobain commented on #46
@SirZach I just understood what you need.

ember-leaflet never sends "actions" to leaflet. When you zoom you are interacting directly with leaflet.
This is an interesting question, but totally related with leaflet.

You'll probably be able to do this "tile loading debouncing" by subclassing leaflet's tilelayer.

[2016-03-21 14:34] #46 closed

[2016-03-21 14:43] SirZach commented on #46
Bummer. Ok, I'll try and dive in. Thanks.

[2016-03-25 11:06] sunil-shrestha commented on #36
Facing the same issue with paper-button inside popup. Any progress or quick-fix to this?

[2016-03-29 23:19] miguelcobain commented on #2
@drewda @radcliff `{{geojson-layer` was released on `2.2.1`.

Closed by https://github.com/miguelcobain/ember-leaflet/pull/44

[2016-03-29 23:19] #2 closed

[2016-03-30 00:53] drewda commented on #2
Thanks, @miguelcobain and @ForSpareParts!

[2016-03-30 13:33] timmyomahony opened #48 "Controlling the map via queryparams (and animation issues)"
Hey,

I have a fullscreen map on a route. The route has `lat`, `lng` and `zoom` query params used to control the map (when these change, a model refresh is fired and markers are grabbed from the server). I update these controller properties when the user moves the map.

Roughly, I have:

[code]

and

[code]

This is actually working really nicely, but there is a slight bug. When I use `transitionT

[2016-03-30 13:45] miguelcobain commented on #48
Can you debug what triggers the first and second moveend event?
I don't see why two movend should trigger. Sometimes when you click on a marker, a popup opens and the map moves to include that popup. This would trigger an extra moveend indeed.

[2016-04-01 02:24] DanLeininger opened #49 "bounds on leaflet-map triggers assert"
When I pass in bounds to the leaflet-map component, it triggers the assert here

[code]

If I remove the assert, everything works great.   Also, this addon is amazing, thanks

[2016-04-01 08:47] miguelcobain commented on #49
The assert is there to make sure you don't pass *both* bounds and lat/lng. If that happens, we can't be sure what needs to happen. Should we consider bounds or lat/lng? They're mutually exclusive.

You can provide both bindings, but only one of them can be truth at creation.
Otherwi

[2016-04-01 08:47] #49 closed

[2016-04-04 10:24] miguelcobain commented on #32
@mdebbar

So, to recap:

[code]

results in

?

[2016-04-06 08:41] kirantpatil opened #50 "Calculate and display route distance"
Hello,

Is it possible to calculate the route distance between two places and display it ?

Thanks.

[2016-04-06 10:43] miguelcobain commented on #50
@kirantpatil youmight want to check leaflet plugins here: http://leafletjs.com/plugins.html

ember-leaflet provides core leaflet functionality. Good news is that it can be extended.
There are some ember-leaflet addons that provide extra functionality: http://www.ember-leaflet.com/addons

If you ever such a routing the plugin, don't forget to create an ember-leaflet extension. :)

[2016-04-06 10:43] #50 closed

[2016-04-13 12:04] badazz91 opened #52 "Only render markers which are currently visible"
We have the situation, that we have to render a lot of markers (e.g. > 300). I could think of an optimization, that only markers which location is visible in the current "viewport" (depending on ```lat```, ```lng``` and ```zoom```) actually get rendered onto the map. I think this could boost the performance a lot, since the amount of markers gets significantly reduced.

What do you think? Is there

[2016-04-13 12:09] badazz91 commented on #5
I think, using  ```ember-promise-helpers``` could be an option, to improve promise handling.
---> https://github.com/fivetanley/ember-promise-helpers

It workes quite nice for us.

[2016-04-13 13:01] miguelcobain commented on #52
@badazz91 it depends on your use case.

If there is a really great number of markers, that may prove to be more performant.

Implementing this in ember-leaflet is trivial. Just use the `onMoveend` action of `{{#leaflet-map` and check for the current bounds and filter the markers:
[code]

[2016-04-13 13:01] #52 closed

[2016-04-20 19:35] bimabima opened #55 "Support for drawing on maps"
I am new to ember-leaflet and wondering how to implement drawing polygon, circle, polyline overlays (similar to Leaflet.draw) on maps.

[2016-04-20 19:36] miguelcobain commented on #55
The best way would be to add that leaflet plugin to ember-paper.
Maybe @ForSpareParts has some helpful info on that.

[2016-04-20 19:54] bimabima commented on #55
@miguelcobain, is there a way to use Leaflet.draw from within ember-leaflet ?

[2016-04-22 14:48] timmyomahony commented on #48
Hey, sorry for the replay on this. I think might actually just have to do with setting both the lat/lng and the zoom at the same time.

I notice if I do this in the action handler:

[code]
the map gets stuck. When I drag it again it will correct itself. If I just do:

[code]
the map pans OK. So maybe it's something to do with two separate animations (a zoom and pan) cancelling each other out? I'll

[2016-04-22 17:18] miguelcobain commented on #48
A failing test would be awesome.

[2016-04-23 09:38] borisrorsvort commented on #28
@miguelcobain Any update for the leaflet v1 update ? 0.7.7 (and current ember-leaflet) is crashing hard on android devices (at least nexus 5) (zoom stuff i think), would be nice to get the update.

If you release a new version, it will leave the time for other plugin to update at their own pace.

[2016-04-26 17:22] maladon opened #57 "auto-center"
this stackoverflow shows how to auto-center a leaflet map based on the points being displayed.

https://stackoverflow.com/questions/10246157/leaflet-js-fit-geojson-co-ordinates-on-map-view

How do I do the same with ember-leaflet?

Thanks in advance!

[2016-04-26 20:44] miguelcobain commented on #57
@maladon you can calculate the bounds of your geometries and passou it to leaflet-map like: `{{#leaflet-map bounds=bounds`.

I think there was a similar issue before.
I'll close this, but feel free to continue discussion if needed.

[2016-04-26 20:44] #57 closed

[2016-05-01 09:14] OlmoDalco opened #58 "individual popup styles for {{#marker-layer}}"
Hi, I am trying to define individual css styles for the popups of different maker-cluster-layers by adding classs to them. However I am not sure how to properly use the className Option on  {{#marker-layer}} and can't get it to work. Could you provide an example how to add classes to popups?

[2016-05-03 15:57] miguelcobain commented on #58
@OlmoDalco You're right. It currently isn't possible. Right now popup content is obtained from the `marker-layer` component. Leaflet's popups have a `className` property, but we don't have access to it.
How do you imagine the API for this?

[2016-05-06 13:46] gandalfar opened #59 "Support fitBoundsOptions"
From discussion on Slack, it would be useful if we could do this:

[code]

[2016-05-06 13:54] miguelcobain commented on #59
It will a little more difficult than I initially thought.
`bounds` is in `leafletProperties` here: https://github.com/miguelcobain/ember-leaflet/blob/master/addon%2Fcomponents%2Fleaflet-map.js#L41

I created a "DSL" that let's me call a leaflet method when a certain property changes.
e.g `bounds:fitBounds` means "when `bounds` changes, call `fitBounds` with `bounds` as a parameter".

We *could* ex

[2016-05-11 00:26] IAmJulianAcosta commented on #58
@miguelcobain could you please give me a little explanation about where are popups created? I have this problem and will work to solve it

[2016-05-11 01:52] IAmJulianAcosta commented on #58
@miguelcobain , I think that we could pass `className` property to `marker-layer`, something like:

[code]
 popupOptions : computed (function () {
	let leafletOptions = this.get ('leafletPopupOptions');
	let options        = {};
	leafletOptions.forEach (optionName => {
		if (this.get (optionName) !== undefined) {
			options[optionName] = this.get (optionName);
		}
	});
	return options;
  }),
didCr

[2016-05-11 08:32] miguelcobain commented on #58
@IAmJulianAcosta i don't agree with

[code]

because one may think that is the className of the marker layer and not the popup.

Ember provides us the `hash` helper, so I would agree with an API that puts all the popup options in a hash like this:

[code]

This logic belongs to popup mixin, in this line: https://github.com/miguelcobain/ember-leaflet/blob/master/addon%2Fmixins%2Fpopup.js#L57

This

[2016-05-11 08:39] miguelcobain commented on #58
@IAmJulianAcosta i don't agree with

[code]

because it looks like the `className` is being applied to the marker and not the popup.

Ember provides us the `hash` helper. I would love an API like this:

[code]

We would just forward the `popupOptions` hash to the popup creation.
Good news is that **this is basically a one line change** to:
`this._popup = this.L.popup(this.get('popupOptions'), this

[2016-05-11 09:19] miguelcobain commented on #59
Closed by https://github.com/miguelcobain/ember-leaflet/pull/60

[2016-05-11 09:19] #59 closed

[2016-05-11 10:32] OlmoDalco commented on #58
Hi Miguel,
thanks a lot. The suggested one line change works perfectly!

[2016-05-11 14:30] IAmJulianAcosta commented on #58
@miguelcobain do you know from when `hash` is available?

[2016-05-11 15:40] miguelcobain commented on #58
@IAmJulianAcosta since ember 2.3 http://emberjs.com/blog/2016/01/15/ember-2-3-released.html#toc_hash-helper

But there is a hash helper polyfill to make it available into, until, ember 1.13: https://github.com/cibernox/ember-hash-helper-polyfill

[2016-05-11 15:43] IAmJulianAcosta commented on #58
Should I add the polyfill as a dependency in the PR?

[2016-05-11 15:49] miguelcobain commented on #58
@IAmJulianAcosta no, see my comment on the PR

[2016-05-11 15:51] miguelcobain commented on #58
fixed by https://github.com/miguelcobain/ember-leaflet/pull/62

[2016-05-11 15:51] #58 closed

[2016-05-11 16:01] miguelcobain opened #63 "update docs"
some recent changes should be mentioned in the docs (dummy app), notably:

- https://github.com/miguelcobain/ember-leaflet/pull/60 - `fitBoundsOptions` and `zoomPanOptions` by @gandalfar
- https://github.com/miguelcobain/ember-leaflet/pull/62 - `popupOptions` by @IAmJulianAcosta

## Where to put this info?

Most of the component pages are rendered dynamically, but each of them renders a component

[2016-05-11 18:19] IAmJulianAcosta opened #64 "Adding custom properties to leafletOptions (leaflet-map)"
Currently `leafletOptions` has hardcoded the leaflet options (`'center', 'zoom', 'minZoom', 'maxZoom', 'maxBounds', 'crs',...`), and doesn't allow to pass custom properties to the `map`.

I'm using `leaflet-zoomslider` that requires to pass `zoomsliderControl: true` when calling `L.map`. I solved it extending the component and pushing the string to `leafletOptions` on component init, but I think t

[2016-05-11 19:26] lucacorti opened #65 "Opening marker popups via actions outside leaflet-map"
I have a number of markers with popups on a map, I want to open a specific popup programmatically from an action triggered outside the leaflet-map component in the same controller.

Is this possible? Does it require interacting with leaflet directly?

[2016-05-11 20:19] IAmJulianAcosta commented on #59
@miguelcobain I'm having problems setting `offset` property in popup. The property is passed to `L.popup`. I printed value in `L.popup.initialize` and is the value I used in template, but when rendering in `_updatePosition`, the value is class default, `0, -7`.

Any idea about why?

[2016-05-11 20:24] IAmJulianAcosta commented on #58
@miguelcobain I'm having problems setting `offset` property in popup. The property is passed to `L.popup`. I printed value in `L.popup.initialize` and is the value I used in template, but when rendering in `_updatePosition`, the value is class default, `0, -7`.

Any idea about why?

[2016-05-11 21:19] saerdnaer commented on #28
@borisrorsvort you can try if the 1.0.0 rc1 works for you by changing the corresponding line in your bower.json to `"leaflet": "1.0.0-rc.1"` and run `bower install leaflet`.

[2016-05-11 21:20] borisrorsvort commented on #28
@saerdnaer I'll give it a try thanks

[2016-05-11 22:03] borisrorsvort commented on #28
@ssured v1 rc1 give several errors:

Events.js:1 Uncaught TypeError: Cannot set property '_leaflet_pos' of undefined
popup.js:88 Uncaught TypeError: Cannot read property 'style' of undefined

[2016-05-12 10:20] saerdnaer commented on #28
@borisrorsvort Have you tried ssured's branch?
``npm install "ssured/ember-leaflet-1#leaflet-master" --save-dev``

[2016-05-12 14:42] miguelcobain commented on #28
I'd love to support leaflet 1 on ember-leaflet.

[2016-05-12 14:44] borisrorsvort commented on #28
That would be really nice because I can't release my mobile app because it crashes on android every single time. Apparently its fixed in 1.0

[2016-05-12 14:50] niamleeson commented on #28
I just tried ssured's branch and everything seems to be working fine. I mainly needed the centered touchZoom from leaflet 1.0.0. One issue I'm having is the popup on one of my smaller map component is sitting about 10px higher than normal. It might be my fault, but I haven't looked into it yet.

[2016-05-12 14:51] borisrorsvort commented on #28
Ok thats good news. I'll also test it with the cluster addons asap. I'll keep you posted

[2016-05-12 14:57] niamleeson commented on #28
Anyone having issue with popup closing as soon as it is open if you click on the marker to close first?

Click on marker -> popup open -> click on marker -> popup close -> click on marker -> popup opens then closes

If you click on the map to close the marker or even just click on the map once, popup works fine.

[2016-05-12 15:12] miguelcobain commented on #64
The **ideal** thing to do here would be to create an addon like these: http://www.ember-leaflet.com/addons

That addon would:
  1. import Leaflet.zoomslider code into the app
  2. add `zoomsliderControl` property to `leafletOptions`

The best addon to take inspiration from would be [ember-leaflet-rotated-marker](https://github.com/miguelcobain/ember-leaflet-rotated-marker/). There I extend the fun

[2016-05-12 19:34] borisrorsvort commented on #28
Just tried it and these seem to work fine (Even on android, no crashing anymore):
[code]

[2016-05-13 07:42] bartocc opened #68 "add control-layer/layers.control component"
I could not find a way to add a control to the ember-leaflet map without writing my own ember component.

I guess a control-layer/layers.control component would be a nice addition the ember-leaflet.

Have you ever considered this?

[2016-05-13 08:00] ssured commented on #28
Cool you guys are also testing v1 of leaflet. I did not pay too much attention to my branch anymore, as in my app it "just works".

[2016-05-13 14:09] miguelcobain commented on #68
@bartocc are you looking for this addon? https://github.com/canufeel/ember-leaflet-layer-control

I personally don't like to use that control. I prefer to build my own control in ember-land using `{{#if`s.

[2016-05-13 14:09] #68 closed

[2016-05-13 21:11] gandalfar commented on #63
Is this a style you'd like for documentation or just another item in "leaflet-map component supports the following options:"?

[2016-05-16 07:44] IAmJulianAcosta opened #69 "popupOpen=true not working"
I'm trying to open a popup using `popupOpen`, but is not working.
[code]

The following function never executes because `this._map`is `undefined` when executed.
[code]

It seems that `openPopup` is executing before `L.marker.onAdd`, maybe `this.popupOpenDidChange` is executing too early (executed in `didCreateLayer`)?

[2016-05-16 07:45] IAmJulianAcosta commented on #65
Should work with `popupOpen`, but not working right now: https://github.com/miguelcobain/ember-leaflet/issues/69

[2016-05-16 08:37] miguelcobain commented on #69
If you check this demo page: http://www.ember-leaflet.com/docs/templates

When you turn the `popupOpen` boolean, the popup opens.
Also, we have a test that makes sure that works here: https://github.com/miguelcobain/ember-leaflet/blob/master/tests%2Fintegration%2Fcomponents%2Fpopup-test.js#L90-L119

Can you provide a failing test?

[2016-05-16 08:40] miguelcobain commented on #65
@lucacorti you should do it using the `popupOpen` property.
Check this demo: http://www.ember-leaflet.com/docs/templates

[2016-05-16 08:40] #65 closed

[2016-05-16 17:28] IAmJulianAcosta commented on #69
It seems that problem is related with `marker-cluster-layer` use, I will investigate more about it

[2016-05-16 17:30] miguelcobain commented on #69
Maybe an issue in the plugin repo and a reference to this one would help.

[2016-05-16 17:39] #69 closed

[2016-05-16 23:56] IAmJulianAcosta opened #70 "popup options not passing again when changing icon"
I found this bug when modifying `marker-layer` icon on runtime.

When I modify the icon, the observer of `setIcon` executes, and executes `L.Marker.setIcon`, which executes `this.bindPopup(this._popup)`, that will open use `L.Popup.prototype.options.offset`, because `options` aren't passed to `bindPopup`.

Is the same bug that I fixed in #66, but elsewhere.

@miguelcobain I hear suggestions about

[2016-05-18 04:22] IAmJulianAcosta commented on #70
Closing by now, is a leaflet problem (fixed in commit after current release version). Tried to update to 1.0.0-RC1 but ember-selectize is not working, will open issue(s) when investigate new problem(s)

[2016-05-18 04:22] #70 closed

[2016-05-18 22:11] Busata opened #71 "latLngToLayerPoint & other conversions?"
Hi,

I'm fairly new to ember & this library, I noticed on leaflet that there are certain conversion methods available for maps such as latLngToLayerPoint, are they included in this library & can they be accessed somehow?

[2016-05-18 22:40] miguelcobain commented on #71
Yes, because leaflet itself is included.
That method belongs to the leaflet map instance. At what point do you need to call that method on the map?
you can use onload action to get a leaflet map instance as soon as it loads (there are some issues here that explain how to use that action). You can then save the leaflet map instance for lateral reference.

I'll close this, but if this didn't solve y

[2016-05-18 22:40] #71 closed

[2016-05-19 06:39] Busata commented on #71
I have a pop up menu that should move along with the marker when I drag it, so I suppose this is the only way to get the offset x/y for the marker (dragend event). Thanks!

[2016-05-19 08:12] miguelcobain commented on #71
@Busata please explain your use case better. You want to move a popup with the marker?
If that's the case why dont't you just use the normal marker-layer component with a block template. The block template will create a popup bound to that marker.

There may be an easier way. I'd like to help if that's the case. :)

[2016-05-19 08:48] Busata commented on #71
Possibly, what I have now by manually syncing the menu with the marker upon map/marker events:
http://imgur.com/GGcg2sD (8MB gif, not sure how fast it loads)
So that would be possible with what you said?

[2016-05-19 08:57] miguelcobain commented on #71
@Busata i see. What kind of element is the text box? A normal div or is it some leaflet layer?

[2016-05-19 11:03] Busata commented on #71
it's a fixed position div, so I have the freedom to style & animate as I want. Unless that is possible with normal leaflet layers too? (though I don't see it being in the scope of what leaflet can/should do)

[2016-05-19 11:21] miguelcobain commented on #71
@Busata then, yes, I think this is the better way.
Recap:
- use the `ondrag` action,
- get the pixel location from the new marker latlng using leaflet's methods (leaflet map instance and marker are available in the action arguments)
- set those pixels to a property
- those properties eventually end up in a component which binds the `style` attr?

Example:
[code]

[code]

[2016-05-19 11:28] Busata commented on #71
yep, that's pretty much how I do it now(except for the way you bind the position, that is nicer than how I did it.. For future reference, you also need to bind some events on the map itself (zoom, drag), the tooltip will remain static otherwise

Thanks!

[2016-05-19 11:35] miguelcobain commented on #71
@Busata you might want to use `onmove` instead of `zoom` *and* `drag`. move triggers whenever the map moves, being it because of a zoom, drag, or whatever.

[2016-05-21 19:36] pedrokost opened #72 "Disabling a popup"
Whenever I click on a marker-layer a popup appears.

How to disable this?

[2016-05-21 20:26] pedrokost commented on #72
I was using the block form of `marker-layer`: {{#marker-layer}}{{/marker-layer}}

I replaced it with the non-block form and the empty poput no longer appears:
{{marker-layer}}

[2016-05-21 20:26] #72 closed

[2016-06-05 10:06] pedrokost opened #74 "Compatibility with Fastboot"
Adding `ember-leaflet` to a Fastboot project is currently not possible.

[code]

I have [made a small app](https://github.com/pedrokost/github-fastboot-example) (based on the fastboot quick start tutorial) which reproduces the problem.

A related issue was opened on `ember-fastboot` here: https://github.com/ember-fastboot/ember-cli-fastboot/issues/74.

[2016-06-06 06:40] miguelcobain commented on #74
Yes, we need to add guards to make sure we don't use leaflet on node.

[2016-06-06 21:40] codyjroberts opened #75 "Marker draggable when false"
I'm fairly new to Ember so this very well be a mistake on my part.  I'm running into an issue where the marker is still draggable even when `truck.editable` is false.  The log, change of icon, and inspector clearly show that the marker is reloading and the property is false.  The observer is also firing so it may be leaflet itself.

Here's the relevant code.  Any help is appreciated!  Thanks for t

[2016-06-08 08:41] dougajmcdonald opened #76 "Polyline not displaying"
Firstly, thanks for the library. Also the example on http://www.ember-leaflet.com/ is excellent

I was trying to extend the example by adding a line between two markers and tried to add a polyline layer like this:

      {{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}}
                    {{#layers.polyline locations=markers weight=3 color="red"}}
                    {{/layers.polyline}}

[2016-06-08 08:42] dougajmcdonald commented on #76
I should clarify that my markers themselves show up, it's just the path between the two.

[2016-06-08 08:57] miguelcobain commented on #76
@dougajmcdonald what is the content of `markers` property?

[2016-06-08 09:02] miguelcobain commented on #75
@codyjroberts there is a bug in leaflet. when you change an icon, you lose the draggability.

Can you try your example *without* the `icon` binding and report back if it works as expected?
We can try to make ember-leaflet work around this bug.

[2016-06-08 09:03] #64 closed

[2016-06-08 09:04] miguelcobain commented on #32
Closing for the lack of feedback.

[2016-06-08 09:04] #32 closed

[2016-06-08 09:07] miguelcobain commented on #75
Related issue from leaflet 1: https://github.com/gabesmed/ember-leaflet/issues/58

[2016-06-08 09:08] dougajmcdonald commented on #76
@miguelcobain my 'markers' property is the equivalent of the 'dangerZone' property in the example. Shown below with the locations array it's mapped from.

[code]

[2016-06-08 09:50] dougajmcdonald commented on #76
@miguelcobain in case it's of any help in diagnosing the issue, I added a third location and have tried switching the layer between polygon and polyline and changing between the:

`{{layers.polyline locations=markers color="red"}}  `

and

[code]

And nothing seems to show for either layer.

I'm using:

`    "ember-leaflet": "2.2.6",`

[2016-06-08 13:16] miguelcobain commented on #76
I just tried changing `polygon` to `polyline` in the demo app and it works accordingly.

Can you confirm that your `markers` computed did run and computed the expected values?

[2016-06-08 14:12] dougajmcdonald commented on #76
I did think perhaps it wasn't being called, I've console.logged the call to `this.get('locations').map(...) ` and I get an array with three objects, with two properties each, 'lat' and 'lng'

![image](https://cloud.githubusercontent.com/assets/1190042/15897174/56a63a46-2d8b-11e6-906c-0e81a43d9a54.png)

Is this what you'd expect?

[2016-06-08 14:17] miguelcobain commented on #76
@dougajmcdonald this is very strange.

Everything looks correct.

We have two options here:
1. you PR a failing test that demonstrates the issue
2. you provide an app where I can reproduce the issue and debug it for you (`ember new leaflet-test` or wtv)

[2016-06-08 15:39] dougajmcdonald commented on #76
@miguelcobain thanks for the help thus far. I will do my best to package an app up.
Afraid I'm new to ember this week, so not 100% sure what the minimum I can send you that will be useful!
I don't want to package up all the node_modules for obvious reasons!
[client.zip](https://github.com/miguelcobain/ember-leaflet/files/305129/client.zip)

[2016-06-08 15:58] codyjroberts commented on #75
It indeed works without the icon binding. Thanks @miguelcobain

I made a temporary patch to fix it by copying the draggability mixin and adding it to the marker layer.

[code]

I'd be happy to incorporate this into a pull request, but I'm not sure if this is the best implementation.

[2016-06-08 19:56] dougajmcdonald commented on #76
@miguelcobain can you confirm when you've grabbed the project as I'd rather not leave it up too long, cheers.

[2016-06-09 08:38] dougajmcdonald opened #78 "Getting a reference to map/markers"
I would like to get a reference to the leaflet map instance created by the ember component:

[code]

Or alternatively the markers created by:

[code]

I'm afraid my ember knowledge is limited, is this possible?

[2016-06-09 08:50] localyost commented on #55
First off: Ember-leaflet is such a great extension! Thank you so much for your hard work!

@bimabima - I need to work with leaflet.draw too. Eventually I want to _try_ and develop actual modules for it and package it as an extension, but for now I have just extended `leaflet-map` and added the options `draw `and `editable` to `leafletOptions`

like this:

[code]
and then when you instantiate a map

[2016-06-09 09:30] localyost opened #79 "div-icon helper with component?"
Hi guys,

I've been looking at issue #33 and am probably missing something.
I'm trying to use the div-icon helper to render a component like this:

`{{marker-layer icon=(div-icon html=(component 'icon-component')) location=markerLocation}}`

`icon-component` is a component that should be rendered as html all I'm getting is the object (`[object Object]`) and `init()` is not being called. Any Idea?

[2016-06-09 09:34] miguelcobain commented on #79
@localyost what you want to do is impossible.

1. `(component 'icon-component')` returns a component instance, not an HTML string or pure DOM
2. even if it returned pure DOM, it still wouldn't work because leaflet div icons only accepts HTML strings

tl;dr is that we need to pass in a string **OR** a helper that returns a string.
If you want to encapsulate the string, you have to use a property co

[2016-06-09 09:34] #79 closed

[2016-06-09 09:35] miguelcobain commented on #78
Duplicate of https://github.com/miguelcobain/ember-leaflet/issues/35

[2016-06-09 09:35] #78 closed

[2016-06-09 09:57] miguelcobain commented on #76
@dougajmcdonald you have global styles that target svg elements. Those styles were colliding with leaflet's svg path rendering.
If I remove the styles, the polyline appears.

You need to be careful when writing styles that global.

[2016-06-09 09:57] #76 closed

[2016-06-09 10:08] dougajmcdonald commented on #76
Gah #facepalm# those styles were purely to demo something quickly before refining things later on.

Sorry for wasting your time

[2016-06-09 10:25] localyost commented on #79
ok, thanks!

[2016-06-09 14:46] dougajmcdonald opened #80 "Q: How to use the helpers"
Hi again, sorry for being a pain!

Could you explain how best to use the helpers for the icon/div-icon in the context of changing properties of a marker outside of a template?

I can do something like this:

[code]

But this could end up with a lot of logical code in the template.

I'd like to create the marker I want and pass it through as a property to the marker layer component. Is this possibl

[2016-06-09 14:51] miguelcobain commented on #80
No problem, mate.

I'm afraid I didn't understand your question.

You can either:
  - use `icon` helpers like you have there
  - create an `L.icon` instance in your controller/component and pass it to the marker-layer as `icon=myCustomIcon`.

[2016-06-09 14:54] dougajmcdonald commented on #80
Ah ok, that makes sense, I was struggling to see the correlation between the POLO's (plain old leaflet objects) and the ember-leaflet components / helpers.

Starting to understand it a bit better now and the second point answers my question. Thanks again.

[2016-06-09 15:24] dougajmcdonald commented on #80
Hi @miguelcobain sorry dude, one final question! are you 100% sure the L.icon instance can be passed to the marker layer in that way.

I've instantiated one in my controller but the icon just appears as it did before (as if the `icon` property hasn't been overridden).

In my controller, when I create my marker mapping I have:

[code]
Which is called and icon instances returned and then in my templ

[2016-06-09 15:32] miguelcobain commented on #80
Here's the proof that it works: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/integration/components/marker-layer-test.js#L38

I need to see how the `getIcon` return value ends up in `marker.icon`. And the template where you render the markers, if possible.

[2016-06-09 15:45] miguelcobain commented on #80
Just for future reference, you can also create a helper that returns an `L.icon` and use it on marker-layer like `icon=(my-custom-icon)`

[2016-06-09 16:58] rogerschlachter commented on #55
@localyost Any chance you have a small example project?

[2016-06-09 17:13] miguelcobain commented on #75
Closed by https://github.com/miguelcobain/ember-leaflet/pull/77

[2016-06-09 17:13] #75 closed

[2016-06-09 19:11] rogerschlachter commented on #55
when you say you extend leaflet-map, which file do you edit to do so? app/components/leaflet-map.js ?

what version of ember are you using?

Thanks!

[2016-06-09 19:16] rogerschlachter commented on #55
Sorry for the spam...I think I've got it, but now the drawng buttons don't have symbols/icons in them. Ideas?

[2016-06-09 19:33] localyost commented on #55
Hey, no problem :)

I'm using Ember 2.4

I don't have the project in front of me, but if I remember correctly I installed it with bower and in `ember-cli-build.js` compiled the source + css
[code]
and then added the image sprites like this:

`app.import('bower_components/leaflet.draw/dist/images/spritesheet.png', {destDir: 'assets/images'});`

I'll check tomorrow.

[2016-06-09 19:54] rogerschlachter commented on #55
Thanks. That's exactly where I just ended up.

[2016-06-10 06:46] dougajmcdonald commented on #80
Thanks @miguelcobain, I'll have a look over the test and see where I've gone wrong.

[2016-06-11 18:25] pedrokost commented on #48
This affects me as well. I have a map on a parent route. When the child route loads, it changes the map center and zoom. The zooming works, but the map is not correctly centered. Removing the zoom change makes the centering work properly.

[2016-06-11 21:06] pedrokost commented on #48
I was able to resolve my issue, although I am not fully certain what fixed it (I could not reproduce the issue in a brand new app)

The bug was present when:
1- A model was loaded asynchronously in the child router
2- In the after model hook I had a (blank) afterRender call
3- The leaflet map had maxBounds defined

Eliminating the 2 and 3 seemed to resolve this issue in my app. But again, I wasn't

[2016-06-12 07:37] v3ss0n opened #82 "Dosen't work with percent based Styling , Width/Height."
I have tested by creating a new project to make sure nothing conflict.
in application.js controller

Chrome is 51 on linux
[code]
in application.hbs
[code]

Nothing renders , either child components added or not.
[code]
[code]

Tested both ember 2.5 and ember 2.6 , just wont appear  , altough rendred on dom.

[2016-06-12 09:12] v3ss0n commented on #41
i think i am saving the same problem , where to put that mixin? in initializers ?

[2016-06-12 10:08] v3ss0n commented on #82
The problem is , it dosen't work with Percent based width/height.
vh based width/height works.
How can i handle with percent based?

[2016-06-12 11:29] miguelcobain commented on #82
This isn't possible, and also, it could be a leaflet issue at most.
Tip: use absolute positioning.

[2016-06-12 11:29] #82 closed

[2016-06-16 16:13] donaldwasserman opened #83 "locations.[] objects vs array"
In the leaftlet library, you can pass in an array of arrays into `locations.[]` I can only get `{lat: xx, lng: xxx}` objects to work.

Does this addon support passing arrays into locations? (ie: `[-43.123, 71.123]`).

This is a fantastic library otherwise.

[2016-06-16 19:32] miguelcobain commented on #83
@donaldwasserman to which kind of layer you want to pass in an array of arrays?

[2016-06-16 19:56] donaldwasserman commented on #83
Polyline

[2016-06-20 12:07] v3ss0n commented on #28
1.0rc now not sure what are the breaking changes. But looks good to move up i guess?

[2016-06-20 12:36] miguelcobain commented on #28
We do make some use of private leaflet stuff in ember-leaflet (mainly popups). That may be broken. It's a matter of upgrading the leaflet version, see what tests fail and fix them.

[2016-06-20 12:44] v3ss0n commented on #28
ok , gonna try that  , just replacing leaflet version in bower as @borisrorsvort  did will work right?

[2016-06-20 13:01] miguelcobain commented on #83
I didn't see any reason of why this wouldn't work.
I've added this test that proves that it works: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/integration/components/array-path-layer-test.js#L119-L138

You have two options:
- submit a failing test PR so I can work on fixing it
- provide a demo app that reproduces the problem

[2016-06-20 13:01] #83 closed

[2016-06-20 13:04] miguelcobain commented on #28
@v3ss0n just replacing the bower version and eventually make the default blueprint install the correct version: https://github.com/miguelcobain/ember-leaflet/blob/master/blueprints/ember-leaflet/index.js#L18

[2016-06-20 13:34] v3ss0n commented on #28
thanks a lot, i gonna fork and give a try

[2016-06-24 05:36] kirantpatil opened #84 "leaflet-routing-machine"
Hi,

Does ember-leaflet uses leaflet-routing-machine plugin to find the way from A to B on a Leaflet map ?

Thanks.

[2016-06-24 11:41] miguelcobain commented on #84
That is a leaflet plugin you need to integrate. You can find several examples of such integrations in the addons section.

[2016-06-24 11:41] #84 closed

[2016-06-28 09:39] kirantpatil commented on #74
:100: :+1:

This enhancement is of top priority

[2016-06-29 14:48] smitakiran25 opened #85 "ember.debug.js:15678 Uncaught Error: Assertion Failed: You must provide either valid `bounds` or a `center` (or `lat`/`lng`) and a `zoom` value"
I am getting the following error i am trying to display hospital locations and getting the longitude and longitude from the firebase i am using
ember-cli :v2.6.0
OS: Fedora 20

**app/template/gmap.hbs**

{{#leaflet-map lat=lat lng=lng zoom=zoom}}

{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  <ul>
  {{#each model as |c|}}
  {{#layers.marker lat=c.latitude lng=c.

[2016-06-30 00:29] codyjroberts commented on #85
In your `gmap.hbs` template it doesn't appear that there are values for lat, lng, and zoom.  You may want to provide defaults in your controller if you're setting the coordinates based on geolocation.

[2016-07-02 18:40] borisrorsvort commented on #4
@miguelcobain I tried the previous snippet in leaflet-map :

[code]
but I also get the error:

`this.L.control.locate is not a function`

ps:
Im using 1.0.0-rc.1 and "ember-leaflet": "ssured/ember-leaflet-1#leaflet-master" for compat with rc1 But I dont think the error has anything to do with the versionning since the method is in leaflet doc for a while.

Tell me if you need anything more to hep

[2016-07-02 19:55] miguelcobain commented on #4
@borisrorsvort have you added the leaflet plugin for that control?

[2016-07-02 21:12] borisrorsvort commented on #4
@miguelcobain Ah sorry I thought the snippet was for the first solution my bad ^^

[2016-07-06 07:05] smitakiran25 commented on #85
Thank you,

[2016-07-06 08:07] #85 closed

[2016-07-06 10:52] kirantpatil commented on #84
Hi @miguelcobain,  If you have any guideline how to add leaflet plugin to ember plugin/addon, please share it. I would like to start working on this issue.

[2016-07-06 11:07] smitakiran25 commented on #85
thank you @codyjroberts  I resolved the error by adding default lat and lng in the controller now map is displaying

[2016-07-06 12:14] donaldwasserman commented on #83
I followed up on this after I wasn't on deadline for a project, and I realized I was passing lng/lat rather than lat/lng.

Thanks for the quick reply on the ticket.

Apologies for the ticket.

[2016-07-06 13:51] miguelcobain commented on #84
@kirantpatil the best guide I can think of is the source code of one of the many ember-leaflet addons.
once you learn how to create ember-cli addons, then check one of those addon source code to understand how they're built.

This would make a very nice plugin.

[2016-07-06 14:22] kirantpatil commented on #84
Yes @miguelcobain Sir, I am in that direction.
https://github.com/kirantpatil/ember-leaflet-routing-machine

[2016-07-07 08:37] kirantpatil commented on #84
@miguelcobain shall we discuss about this issue at http://discuss.emberjs.com/t/ember-leaflet-routing-machine-addon/11023

[2016-07-17 02:08] donaldwasserman opened #86 "Popup options don't pass through to non-marker layers"
Hi there -

I came across a small issue about popup options not passing through into `array-path-layer.` Added this following test: https://github.com/donaldwasserman/ember-leaflet/blob/popup_fix/tests/integration/components/popup-test.js

I have a potential solution, but am open to changes:

https://github.com/donaldwasserman/ember-leaflet/commit/60efd541fb3f55d045b62075f1195cde38286fdc

[2016-07-20 10:44] miguelcobain commented on #28
I updated ember-leaflet to work with leaflet `0.7.7` and `1.0.0-rc.2`. It installs `1.0.0-rc.2` by default.
I published it as a pre-release under version `2.2.8-beta.0`.

Please use `ember install ember-leaflet@2.2.8-beta.0` and test it on your project.

There is a known bug in ember that affects ember 2.6+, so some tests are failing on those scenarios.

Addon authors, please update and test your

[2016-07-20 10:54] miguelcobain commented on #28
@ssured looks like popups are a bit weird. Any idea how to fix it?

[2016-07-20 11:17] pavloo opened #88 "tiles caching addon"
Hey. First of all, thanks for the great project. I created an ember addon that wraps [Leaflet.TileLayer.PouchDBCached](https://github.com/MazeMap/Leaflet.TileLayer.PouchDBCached), which is Leaflet plugin and lets you cache map tiles using PouchDB. Here it is [ember-leaflet-tiles-cache](http://github.com/pavloo/ember-leaflet-tiles-cache) . If you think this addon is okay, would be great if it could

[2016-07-20 11:25] miguelcobain commented on #88
Looks awesome!

ember-leaflet's website is on this repo as well (it's the dummy app).
You can PR the change on the addon list.

Here is the file: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/dummy/app/templates/addons.hbs

[2016-07-20 11:25] #88 closed

[2016-07-20 11:27] miguelcobain commented on #28
@ssured I fixed the problem. Update to `2.2.8-beta.1` on the way.

[2016-07-20 16:58] multiplegeorges opened #89 "Access to map instance, unproject coordinates ?"
Hi all,

Is there a way to get a reference to the Leaflet map instance?

I need to render an image using `L.CRS.Simple` and I need to unproject the pixel height and width of the image to the map's coordinate system.

Here's a simplified version of what I am doing now. Note, I am *not using ember-leaflet* right now, but I'd like to replicate this using the addon.

[code]

Thoughts?

[2016-07-20 18:20] miguelcobain commented on #89
@multiplegeorges does the `getBounds()` method help in your case? http://leafletjs.com/reference.html#map-getbounds

It returns the current boundaries in lat lng coordinates.

[2016-07-20 19:06] multiplegeorges commented on #89
The desired outcome is something like this: http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html

We have large ~5000x5000px images that we want to pan/zoom and Leaflet works very well for this.

The code I included above works perfectly. However, *if I were to use ember-leaflet* instead, how would I get a reference to the Leaflet map instance object being displayed on the page.

If I have

[2016-07-20 20:37] multiplegeorges commented on #89
Nevermind, I found that I can do the coordinate projection directly using the `L.CRS.Simple` class. No instance of the map is needed.

Thanks for your attention, feel free to close this.

[2016-07-20 20:37] #89 closed

[2016-07-26 10:45] donaldwasserman commented on #28
My failing tests include:

- 80
- 92
- 93
- 94
- 96
- 97

Are those the same ones you mentioned?

[2016-07-26 11:11] fpauser opened #91 "Uncaught TypeError: Cannot read property 'meta' of null"
See the screenshot below. It happens in the `tile-layer` component, and I have no clue how to fix this - seems related to https://github.com/emberjs/ember.js/issues/13494.

One thing to note: Initial rendering of the map works fine, but changing the route and coming back always results in this error - so maybe a problem with rendering in ember.

![ember-leaflet-meta-of-null](https://cloud.githubus

[2016-07-26 11:54] miguelcobain commented on #91
version of ember-leaflet?

[2016-07-26 11:55] miguelcobain commented on #28
@donaldwasserman you get failing tests where? in ember-leaflet itself or on your project?
You can see that the tests are passing in older versions of leaflet.

[2016-07-26 12:48] miguelcobain commented on #91
This is a known bug that happens on ember 2.6+.

[2016-07-26 12:57] fpauser commented on #91
Using version 2.2.7 of ember-leaflet - thanks for your hint, so downgrading to ember-2.5.x is the only option?

[2016-07-26 13:02] miguelcobain commented on #91
Unfortunately, yes. I'm working on a failing test so that this can be solved in core.

[2016-07-26 13:21] donaldwasserman commented on #28
I'm using ember-leaflet 2.2.8-beta.1.

The tests I reference there are the ember-leaflet tests (updated to include the actual test names). They are all related to

[code]

I saw that you said you had all the tests passing, so I don't know if there's something wrong with my setup or the tests are actually failing.

I'm going to trying to get this into my actual project this afternoon to see what sh

[2016-07-26 13:39] miguelcobain commented on #28
@donaldwasserman which ember version are you testing against?

[2016-07-26 13:52] miguelcobain commented on #28
@donaldwasserman so, it seems that tests are passing on phantomJS but not on chrome.

[2016-07-27 19:08] karimsqualli opened #94 "overriding default option for leaflet map and adding control"
hello everyone, so  i want to override default option provided to map in the component rather than specifying each option in template, and i want to add some leaflet control, what  i tryed to subclass leaflet-map components, i created a new component in my project :

`import Ember from 'ember';
import EmberLeafletMap from 'ember-leaflet/components/leaflet-map';

export default EmberLeafletMap.exte

[2016-07-27 23:25] miguelcobain commented on #94
You're doing it correctly. What is the name and directory of that file you created?

[2016-07-28 12:33] #86 closed

[2016-07-28 12:44] karimsqualli commented on #94
==> app/component/leaflet-map.js

i didn't created a template file for this component, but i gived me an error, so i created  the template file, and copied its content from the template in ember-leaflet source, and its worked, i don't know if its the right way to do it.

another thing, when i want to load the data for the map (some marker just for testing) i have the possibility to do it in the ro

[2016-07-28 13:00] miguelcobain commented on #94
@karimsqualli

1 create a file `app/components/my-leaflet-map.js`
[code]
2 use the component normally and it will have the default options set
[code]

I've noticed that in your example you set both center and lat/lng. That doesn't make a lot of sense to me.

[2016-07-28 13:00] #94 closed

[2016-07-28 13:16] karimsqualli commented on #94
thanks.

[2016-08-03 14:40] #63 closed

[2016-08-05 00:35] brancusi opened #96 "L.Icon.Default.imagePath - Integration Testing"
Incase anyone runs into this issue during integration testing.

[code]

Just add this to the top of your integration test:

[code]

Should we maybe add a note in the docs somewhere?

Thanks

[2016-08-08 12:36] devotox opened #97 "Examples in http://www.ember-leaflet.com/docs/templates do not work with Leaflet 1.0.0-rc"
The problems are in clicking the elements to show the popups.

Error: Cannot get 'style' of undefined

[2016-08-08 13:10] miguelcobain commented on #97
Everything is working great over here.

Which *ember-leaflet* version are you using?
Only v2.2.8-beta.1 is compatible with leaflet 1.

[2016-08-09 07:29] devotox commented on #97
ha that would make sense i was using 2.2.7. thank you updating now

[2016-08-09 07:38] #97 closed

[2016-08-09 23:26] devotox commented on #97
I upgraded to 2.2.8-beta.1 and everytime i click on a polygon i get this

Uncaught TypeError: Cannot read property 'style' of undefined

[2016-08-10 08:44] miguelcobain commented on #97
@devotox can you please tell me the `leaflet` version in you `bower.json` file and the `ember-leaflet` version in your `package.json` file?

[2016-08-10 11:09] devotox commented on #97
leaflet: 1.0.0-rc.2 & have tried 1.0.0-rc.3

ember-leaflet: 2.2.8-beta.1 & have tried 2.2.7

[2016-08-11 17:18] devotox opened #98 "How would you set the position of the zoom Control?"
it seems that i get `Uncaught Error: Map container is already initialized.(…)`

if i try to do something like `L.map("main-map").zoomControl.setPosition('topright')`

[2016-08-11 18:02] miguelcobain commented on #98
that happens because you're trying to initialize the same map again.
You need to access the current map instance and use `map.zoomControl.setPosition('topright');`.
There are many issues here on how to access the map instance. Most likely you'll want to use the onLoad action or subclass the map component.

[2016-08-11 18:02] #98 closed

[2016-08-11 18:46] devotox commented on #98
I tried what you said and did something like this to no avail

[code]

but get this error `Uncaught TypeError: Cannot read property 'appendChild' of undefined`

[2016-08-11 19:36] miguelcobain commented on #98
What calls initMap?

[2016-08-11 19:37] devotox commented on #98
[code]

[2016-08-11 19:40] miguelcobain commented on #98
Hmm, that should work. Maybe the zoom control isn't yet created on load. What you could do is to set zoom control creation to false and then created one yourself and add it to the map in the correct position.

[2016-08-11 19:51] devotox commented on #98
Ha i actually just found out the issue i was using camelcase and it is meant to be all lowercase. Thank you

[2016-08-21 15:47] miguelcobain commented on #96
Thanks for sharing.

[2016-08-21 15:47] #96 closed

[2016-08-29 07:40] twss opened #99 "Default marker URLs incorrect?"
By default the emitted marker URLs being emitted are not prefixed with a leading '/', meaning they show as broken links on pages that are not at the root level. (i.e. http://example.com/posts/test-post)

[2016-08-29 07:55] #99 closed

[2016-08-29 07:55] twss commented on #99
I see it's been fixed for 2.2.8

[2016-08-29 14:52] miguelcobain commented on #91
@fpauser this was fixed in the release channel. 🎉
There still wasn't a point release for this.
You can use `bower install --save ember#release` to use a version with this bugfix for now.
We should have a 2.7.2 ember version with this fix soon!

So, to recap, ember versions 2.6, 2.7.0 and 2.7.1 have this bug. Use anything else.

[2016-08-29 14:52] #91 closed

[2016-08-30 10:50] v3ss0n commented on #28
i have switched to latest master , everthing working .
How to run tests ?

[2016-08-30 10:52] miguelcobain commented on #28
@v3ss0n i meant some manual testing, to check if everything is working as supposed.
Automated tests are already done in the repo.

If you are an ember-leaflet addon author, you should also run your own automated tests against latest embe-leaflet.

[2016-08-30 11:01] v3ss0n commented on #28
i haven't run automated testes , i will run later.
For now it looking  good , and extremely smoonth!!

btw: What do you think about mapbox-gl leaflet with custom vectortile support? I am going to give it a try in a while.
I tested it and things are extremely fast http://osm2vectortiles.org

[2016-08-30 11:15] v3ss0n commented on #33
@miguelcobain  does this support SVG icons?
Or should i render them to png first?

[2016-08-30 11:32] miguelcobain commented on #33
@v3ss0n what is "this"?
I think there is no problem in using svgs. Worst case you create a divIcon where you place the SVG.

[2016-08-30 11:36] v3ss0n commented on #33
By this , i wanted to mean `svg` instead of png
[code]

[2016-08-30 21:11] v3ss0n commented on #28
Let me take that back , i got huge performance problem with `ember-leaflet`  `2.2.8-beta.1` and `leaflet` `1.0.0.rc3` (only tested in ember-leaflet not with raw leafletjs )
@miguelcobain  @mourner
its faster when there is only a few markers  ( about 20-30)
but when i tested with 500 markers ember-leaflet with latest   `ember-leaflet`  `2.2.8-beta.1` and `leaflet` `1.0.0.rc3` crippled the browser ,

[2016-08-30 21:13] miguelcobain commented on #28
@v3ss0n do the markers have popups? Custom icons? Just to track down where the problem is.

[2016-08-30 21:14] v3ss0n commented on #28
no custom icons , on that test. only default icons.

[2016-08-30 21:41] mourner commented on #28
@v3ss0n can you set up a JSFiddle test case?

[2016-08-30 21:43] v3ss0n commented on #28
not sure how i can do that with ember at JSFiddle. but i will setup a repo with ember-cli-mirage, so it can be tested with mock data

[2016-08-30 22:52] v3ss0n commented on #28
please test this 500 marker points:
https://github.com/v3ss0n/stresstest_ember_leaflet
by default its with ember 2.2.7 and leaflet 0.7.7 . works smooth.
and after upgrading both it comes down to a halt.

[2016-09-01 09:00] v3ss0n commented on #33
Just to report that SVG works very well and Performance is as good as png, with dynamic sizes !!

[2016-09-01 22:25] v3ss0n commented on #28
@miguelcobain  @mourner  please check the video.
https://www.youtube.com/watch?v=v0oWqdkZcq8&feature=youtu.be
on the left is the latest `ember-leaflet` with `leaflet 1.0.0-rc.3`
on the right is with `leaflet-0.7.7` , same ember version :
on the left  i am clicking and draggin for long , and it start only to respond after 2-3 sec
on the right very smooth and responsive.
all dataset and  code is sam

[2016-09-01 22:28] mourner commented on #28
@v3ss0n will check it out, thanks!

[2016-09-01 22:36] v3ss0n commented on #28
Thanks a lot @mourner  i just tested with latest dev version , same peformance as `1.0.0-rc.3` , very slow.
Both are tested at 1000 markers. Whethere using default icon or custom icons , same performance problem happen at latest leaflet.

[2016-09-01 22:38] v3ss0n commented on #28
let me know if there other ways you want me to test.

[2016-09-02 09:52] #55 closed

[2016-09-02 09:53] miguelcobain commented on #36
Does this still happen with latest ember-paper releases?

[2016-09-02 22:07] v3ss0n commented on #28
@mourner  whats your analysis on this? Should i report this at  Leaflet? I think this is directly related to Leaflet?

[2016-09-02 22:21] mourner commented on #28
@v3ss0n I haven't looked at this yet, will try to find some time to investigate next week.

[2016-09-02 22:29] v3ss0n commented on #28
@mourner  thanks alot , let me know if more tests needed but the video is quite evident..

[2016-09-07 14:56] v3ss0n commented on #28
@mourner  anything on this?
I am sure this regression is quite important for Leaflet 1.0 .

[2016-09-09 08:47] v3ss0n commented on #28
I guess i will need to make a Raw leaflet example of it and post it at Leaflet mailing list ?

[2016-09-10 11:16] ssured commented on #28
@v3ss0n thanks for your work here, please link the new issue on the leaflet repo to this one, once you have made it

[2016-09-28 05:39] acorncom commented on #28
And Leaflet 1 was announced today: http://leafletjs.com/2016/09/27/leaflet-1.0-final.html

[2016-09-28 22:44] miguelcobain commented on #28
ember-leaflet 3.0 was released today and supports glimmer 2 and leaflet 1 final.
I'm going to close this issue, since it was the main topic.

[2016-09-28 22:44] #28 closed

[2016-09-29 00:00] v3ss0n commented on #28
Ok i will test with ember-leaflet 3 and leaflet final and then open a new issue if  regression still there.
cc: @mourner

[2016-10-05 19:46] donaldwasserman opened #103 "pointerEvents not getting passed into SVG element on array-path"
When using polyline-layer the `pointerEvents` option isn't getting passed into the SVG attributes.

See #102 for failing test.

[2016-10-06 18:56] #103 closed

[2016-10-07 05:04] dbouwman commented on #74
I just did a quick pass at fastboot-ifying the addon, and I have it working for a very simple demo case, but applied the pattern across the whole addon, so - *in theory* it should work.

To be clear - what I've done is simply changed the addon so it's basically ignored by fastboot / node. To be very very clear - it will not render a map on the server and send that down to a client.

This simply al

[2016-10-07 09:02] miguelcobain commented on #74
@dbouwman Would love a PR. :)

I've also assumed that a first take would be to ignore any rendering on the server.
It looks like there are options for rendering leaflet maps on the server: https://github.com/jieter/leaflet-headless

I don't how feasible it would be to "hydrate" the map afterwards on the client. Sounds complex.

[2016-10-07 09:09] miguelcobain commented on #74
Actually, that package provides an image. Ideal for that placeholder you mentioned.

[2016-10-07 14:25] dbouwman commented on #74
@miguelcobain exactly - although from my quick look at that repo, it sounds like the performance (~4s to render) is not quite inline with the intent of fastboot, so I'm not sure we'd want to bundle that into this addon. I'm still scheming on this, but perhaps another project that uses headless-leaflet, that can create those images and cache them, then in this project allow for a `loadingImageUrl=h

[2016-10-10 10:15] miguelcobain commented on #74
X-Ref: #104

[2016-10-17 16:28] knownasilya opened #106 "Pull leaflet from npm"
From a convo on the ember slack with @miguelcobain

[code]

This would remove the need for a blueprint and would remove the use of bower. Also this would
fix using ember-leaflet in engines (https://github.com/dgeb/ember-engines/issues/226).

Alternative solution to above problem with engines might be https://github.com/runspired/ember-run-raf/pull/14/files

[2016-10-18 13:44] seadiaz opened #108 "geojson-layer does not suppor popup"
When I try to bind a popup into a geojson layer I got the error message "Uncaught TypeError: this.get(...)._layer.bindPopup is not a function".

On Leaflet documentation for geojson layer says...

[code]

I think that DivOverlayableMixin is missing on geojson layer, am i right?

[2016-10-18 14:10] miguelcobain commented on #108
@seadiaz very likely that is the problem.

[2016-10-20 09:05] #108 closed

[2016-10-20 09:12] miguelcobain commented on #108
Should be fixed on `3.0.2`.

[2016-10-21 19:46] seadiaz commented on #108
👍🏻

[2016-10-24 22:59] fpauser opened #109 "Add marker-cluster-layer to ember-leaflet"
This would be a great addition to ember-leaflet.

[2016-10-24 23:09] fpauser commented on #109
Just stumbled across https://github.com/canufeel/ember-leaflet-marker-cluster/issues/8. Will try to create a pull-request.

[2016-10-24 23:09] #109 closed

[2016-10-26 08:45] cesarizu commented on #74
I've posted a new PR at #110 that solves this problem.

[2016-10-30 22:16] timmyomahony opened #111 "Tooltip permanent isn't working"
Hey,

I notice that when using the tooltips, if I try to use `permanent=true` the text within the tooltip doesn't display:

[code]

Without `permanent=true` the tooltip and text is showing OK on hover, but when removed the tooltip is there but doesn't have any text content.

[2016-11-04 09:22] lordkada opened #113 "Icons broken when deployment prepend has path"
Icons (eg. marker-icon.png) are broken if the production deployment is served by a URL containing a path, like: http://mydomain.com/myapp.

I'm using ember-cli 2.8. and my ember-cli-build.js has:`prepend: `//mydomain.com/myapp/`.

Inspecting the rendered HTML, I have noticed that the path for that icon is just '/assets/images//marker-icon.png' (please note also the double slash `//`).

If I manual

[2016-11-04 10:01] miguelcobain commented on #113
Shouldn't you be using the `rootUrl` property?
More info: http://emberjs.com/blog/2016/04/28/baseURL.html
Make sure you're using version 3.0.1 or later. We added a feature to detect that property and use it for assets: https://github.com/miguelcobain/ember-leaflet/pull/105

[2016-11-04 10:54] lordkada commented on #113
@miguelcobain thanks a lot for your super fast reply... :-D
It totally makes sense, I will try it asap and let you know!
Thx

[2016-11-04 13:37] lordkada commented on #113
Hmmm.. it doesn't work in my context.. I try to explain a little more.

I have an nginx serving the index.html from `https://mydomain`. Then all my assets (images, js) are loaded through a cdn, ie: //mycdn/app (so all the leaflet images should be loaded too).

If I set rootURL (or baseURL) to be `//mycdn/app` I get errors like 'Failed to execute 'replaceState' on 'History': A history state object

[2016-11-04 13:49] miguelcobain commented on #113
@lordkada I see.

We also need to look at the `prepend` string ourselves.

/cc @indr

[2016-11-05 21:55] ryanlabouve opened #114 "Overriding default map behavior question"
What's the best way to set new default behavior on a map?

For example, if it was just plain Leaflet I might want to do something like disabling scroll wheel zoom:

[code]

[2016-11-05 21:56] ryanlabouve commented on #114
Oops, answered my own question reading through the source

[code]

Would it be helpful at all if I added some examples of this to the docs? I would be happy to if it is.

Closing issue for now though :-D

[2016-11-05 21:58] #114 closed

[2016-11-17 05:43] jamesdixon commented on #111
I can confirm this on  v3.0.4

[2016-11-17 19:27] #111 closed

[2016-11-17 19:28] miguelcobain commented on #111
@timmyomahony @jamesdixon can you please try if `v3.0.5` fixed this issue?

[2016-11-17 20:27] jamesdixon commented on #111
@miguelcobain works like a charm. Thank you!

[2016-11-20 20:03] radcliff opened #118 "Change to how bounds are set on map between 2.x.x and 3.0.0?"
After upgrading to ember-leaflet `3.0.0`, I am noticing a new error that is not present with the previous version I was using `2.2.8.beta-1`.

I am seeing `Uncaught Error: Map container is already initialized` when dynamically changing the value for `bounds` on the map. Did anything change about how we should be setting `bounds`/`center`/etc on the `leaflet-map` component from `2.x` to `3.x`?

Her

[2016-11-21 19:42] miguelcobain commented on #118
Did you try to update to latest 3.x release?

[2016-11-22 08:08] radcliff commented on #118
Yes, I see the same behavior on `3.0.5` that I see on `3.0.0`. Downgrading back to `2.2.8-beta.1` fixes the issue with no other changes to my app.

[2016-11-22 10:25] miguelcobain commented on #118
Nothing has changed.
Do you think you could reproduce this issue somewhere? Or make a failing test?
That would help a lot.

[2016-11-22 10:26] #36 closed

[2016-11-25 19:02] tevch opened #119 "marker-layer attributes do not track object changes"
1. create ember object with store.createRecord
2. create marker-layer based on this object, with attribute alt=object.id
3. call object save()

result - alt attribute remains null.

object itself does receive an id from the server - if i put object.id in the marker popup - it properly shows autogenerated id

[2016-11-25 19:38] miguelcobain commented on #119
@tevch If you look at the leaflet API, there is not method to update `alt`, like there is for other properties.
That is a creation-time only option.

So, this is basically an upstream issue.
You should either create an issue at leaflet or PR the feature.

[2016-11-25 19:38] #119 closed

[2016-11-25 21:19] tevch commented on #119
Understood. Thanks a lot
what method would you recommend to store an object id associated with the marker?

[2016-11-25 22:31] miguelcobain commented on #119
The question is a bit vague. There are many ways to do that.

[2016-11-26 00:09] tevch commented on #119
Let me rephrase the question

i create a marker like this

{{marker-layer location=object.location title-object.title alt=object.id onClick="markerClickedHandler"}}

then i get events in the function

markerClickedHandler(event) {
    alert("Clicked marker with ID="+event.target.options.alt)
}

The only option i see to retrieve the clicked marker object ID is to pass it to some parameter in {{mark

[2016-11-26 02:08] miguelcobain commented on #119
If you're looking for a way to get a reference to the clicked object in the action, ember's closure actions have an awesome way to do that:

[code]

then, in the action you get the curried object as an argument:

[code]

[2016-11-26 15:15] tevch commented on #119
Closure actions!!

Thanks a lot

[2016-12-07 16:51] allthesignals opened #120 "Can't use contextual component syntax for helpers when overriding & extending EmberLeafletMap component"
Documentation uses contextual component syntax to call helpers. Although it's trivial to switch from `{{layers.tile}}` to `{{tile-layer}}`, this can cause some confusion when needing to override and extend the component to do things like re-position the zoom control. Is this better solved by further documentation or a fix?

[code]

Does not work after extending `leaflet-map` component:
[code]

[2016-12-07 17:04] miguelcobain commented on #120
Which component are you extending?

[2016-12-07 17:12] allthesignals commented on #35
This is really hard to do for some reason... I made a custom leaflet-map component, and I'm trying to get the map instance so I can re-position the zoom control (which is really easy to do in leaflet vanilla). The discussion seems to imply that I'd need to define an action in the parent controller to do component logic, which seems awkward. Is there no way to do this from the component itself? Or

[2016-12-07 17:17] allthesignals commented on #120
@miguelcobain oops, here you go:

[code]

[2016-12-07 17:22] miguelcobain commented on #35
@allthesignals if you prefer, you can override the leaflet map component and access the raw leaflet map instance using `this._layer` in a `didCreateLayer` method (don't forget to call `this._super(...arguments);`.

[2016-12-07 17:23] miguelcobain commented on #120
@allthesignals So, if you do that you can't use contextual components anymore? Is that it?

[2016-12-15 15:53] lordkada commented on #113
Any evolution on this ticket? :-)

[2016-12-25 00:09] meliborn opened #122 "How to use div-overlay-layer?"
I'm trying to add div-overlay-layer on my map, but getting `Assertion Failed: BaseLayer's `createLayer` should be overriden.` (missed `d`, also).

[code]

[2016-12-25 12:13] miguelcobain commented on #122
Users aren't supposed to be using div-overlay-layer directly. That is a classe that both popup layer and tooltip layer inherit from.

[2016-12-25 12:13] #122 closed

[2016-12-29 14:08] lordkada commented on #113
In the meantime, I've solved this by
1. setting my ENV.prepend variable in the `environment.js`
[code]
2. referring it in my `ember-cli-build.js`
[code]
3. creating my own initializer to overwrite the image path:

[code]

Hope it helps someone before your final solution ;-)

[2017-01-09 22:59] owenek1 commented on #57
I have a problem with bounds when there is only one element to display on the map it give me an error:

`Uncaught Error: Invalid LatLng object: (NaN, NaN)
    at L.LatLng (LatLng.js:24)
    at Object.unproject (Projection.SphericalMercator.js:29)
    at Object.pointToLatLng (CRS.js:31)
    at NewClass.unproject (Map.js:899)
    at NewClass._getBoundsCenterZoom (Map.js:250)
    at NewClass.fitBound

[2017-01-12 03:16] allthesignals commented on #108
I'm seeing this error on route transitions, probably when it tears down the parcel layer:

`Uncaught TypeError: this.get(...)._layer.unbindPopup is not a function`

[code]

Any thoughts? Seems like popups work, but teardown breaks things.

Thanks!

[2017-01-12 18:54] jelhan opened #126 "bounds does not work with L.CRS.Simple"
I'm facing a strange bug with `bounds` parameter. It seems to be ignored until first resize of window. The overlay image is at left top corner of map but it should be in center.

A simple code to reproduce:
[code]

[code]

I tried to debug but doesn't have a clue what's happening.

It's not related to leaflet cause plain leaflet is working: https://jsfiddle.net/zk2k6q4c/

[2017-01-12 19:06] miguelcobain commented on #126
@jelhan don't know if it matters, but did you try specifying `maxBounds= bounds` in the leaflet-map, like in the fiddle you linked?

[2017-01-12 19:11] jelhan commented on #126
Yeah of course. Just deleted it to reduce code even more. It doesn't make any difference.

[2017-01-12 19:19] jelhan commented on #126
I tried to implement the exact same code ember-leaflet is calling in exact same order at it is called but wasn't able to reproduce the bug in plain leaflet: https://jsfiddle.net/zk2k6q4c/1/ Would appreciate any hint.

[2017-01-12 19:39] jelhan commented on #126
Arghs, it was caused by a side effect of ember-bootstrap tabs. It's working fine outside of tab content. Sorry for noice.

[2017-01-12 19:39] #126 closed

[2017-01-13 14:00] jelhan opened #127 "ember-leaflet-contextmenu"
Just published ember-leaflet-contextmenu: https://github.com/jelhan/ember-leaflet-contextmenu

It doesn't support all options yet, but working for simple use cases. Feel free to add it to Addon section of website.

[2017-01-13 15:05] miguelcobain commented on #127
@jelhan can you PR that?
The source of the ember-leaflet website is in this repo under `tests/dummy`. It is a normal ember app.

[2017-01-13 16:02] #127 closed

[2017-02-07 09:34] bartocc opened #130 "Incompatible with ember twiddle"
It looks like ember-leaflet is not usable in a twiddle, at least for 3.0.9:

https://ember-twiddle.com/5c8784629cf80eeed0d33ea70cc5d5fc?openFiles=templates.application.hbs%2C

Is that a known limitation ?

[2017-02-07 09:43] bartocc commented on #130
I've just tried it on canary.ember-twiddle.com with ember 2.11 and it works. It still fails on canary with ember 2.10.

[2017-02-07 09:52] bartocc commented on #130
I'm closing this since it is working with ember 2.11.

This issue might still be a good reference for anyone googling "ember-leaflet twiddle" ;-)

[2017-02-07 09:52] #130 closed

[2017-02-07 09:57] bartocc opened #131 "[BUG] onClick on a marker and popupOpen on its popup generates an error"
See this twiddle

https://canary.ember-twiddle.com/7c5447061e1ba03d309a16b67410f90a?openFiles=templates.index.hbs%2C

If you click on a marker, you'll get the following error and no popup will appear.
`Cannot read property 'getPane' of null`. It looks like this._map is not set ...

If you click again on the marker, you should not get the error and see the popup.

Click on the other marker and the

[2017-02-07 10:03] bartocc commented on #131
You might also get the following error in setOpacity

<img width="712" alt="capture d ecran 2017-02-07 a 11 03 19" src="https://cloud.githubusercontent.com/assets/47953/22686624/0da6d17a-ed25-11e6-9817-172444e7bbdc.png">

[2017-02-27 15:04] digitalsadhu commented on #108
Also seeing this issue as described by @allthesignals
Popup renders ok in the first place but teardown throws the `this.get(...)._layer.unbindPopup` error

[2017-02-27 15:17] miguelcobain commented on #108
Can someone PR a failing test with this bug? It would make things quicker when I have the chance to take a look at it.

[2017-02-27 15:25] digitalsadhu commented on #108
I don't have time to do so just now (deadlines deadlines) but am digging through source code and contribute findings.

So far I have verified that
A. the parent component that is fetched [here](https://github.com/miguelcobain/ember-leaflet/blob/master/addon/components/popup-layer.js#L61) is the expected geojson layer
B. the geojson layer does not have the unbindpopup method. Unsure why, leaflet do

[2017-02-27 15:30] digitalsadhu commented on #108
Ok got it.
Leaflet 0.7's geojson layer does not have unbindpopup, 1.0 and onwards does.

[2017-02-27 15:30] miguelcobain commented on #108
Oh. :/
What is the equivalent of that function on leaflet 0.7?
we can test if that function exists before calling it.

[2017-02-27 15:32] digitalsadhu commented on #108
looking into that at the moment. It has bindpopup but im not seeing anything obvious to unbind. Will continue looking into it.

[2017-02-27 16:09] digitalsadhu commented on #108
Sorry man, I'm going to have to give up for now. I can't work out how you were supposed to unbind popups in leaflet 0.7. but I have some clues here that might help.

It changed in leaflet between [this commit](https://github.com/Leaflet/Leaflet/commit/eb82d4ee42e0959b63c3ee16a7992558a9899df8#diff-01d2b1169c18b2d745910b7f62475ee9) and [this commit](https://github.com/Leaflet/Leaflet/commit/5110298c

[2017-02-27 16:44] allthesignals commented on #108
I can work on a failing test later tonight, thanks for looking into this @digitalsadhu

[2017-02-27 16:45] miguelcobain commented on #108
@digitalsadhu @allthesignals are you both using leaflet 0.7? If so, what is exactly the reason?

[2017-02-27 16:46] allthesignals commented on #108
@miguelcobain I believe there were some weird dependency issues with other leaflet addons like marker cluster and tile cache (they rely on 0.7). I need to check this again, though, which I can do later. Thanks.

[2017-02-27 16:48] digitalsadhu commented on #108
Another dependency we have Cant be upgraded yet.
On Mon, 27 Feb 2017 at 17:47, Matt Gardner <notifications@github.com> wrote:

[2017-03-05 11:17] formigarafa commented on #131
I saw stack trace similar to the first one with tooltips, by just hovering the layers.
That line in the top of the stack fails because it tries to call getPane on the tooltip._map property that is not set.
It does not happen every time, though.
When hovering fast, I believe when the mouse leaves the element the _map is nullified before the tooltip get rendered.

[2017-03-05 11:35] formigarafa commented on #131
At #138 I fix the tooltip problem I commented above. I hope it helps with popup ones.

[2017-03-07 21:38] bartocc commented on #131
Thx @formigarafa. When your PR will be merged and part of a new release, I'll test it against the twiddle.

[2017-03-09 17:14] jiteshgupta1995 opened #139 "Ember leaflet is not displaying anything, on changing css property it shows but does not work well"
I am using Ember-leaflet for my ember application. I followed every step from installation to usage but somehow it is not showing anything. I inspected the elements and found property overflow:hidden. I changed to overflow:visible then map was showing but on zooming in and out, image expands awkwardly.

I am using in my template.hbs

[code]
and in my template.js

[code]
reference used from http://

[2017-03-09 17:20] miguelcobain commented on #139
@jiteshgupta1995 the usual suspect is that people skip this part of the docs

in http://www.ember-leaflet.com/docs/container

Can you try specifying
[code]
in your app.css file?

[2017-03-09 17:53] jiteshgupta1995 commented on #139
@miguelcobain thanks for the reply. It works perfectly great should have read docs carefully, Sorry my mistake. Can you please tell me how to use different template because I could understand which url to pass to tile-layer.

[2017-03-09 17:54] miguelcobain commented on #139
You need to pass an url of a tile server. There are many free ones, and also paid ones.

[2017-03-09 17:54] #139 closed

[2017-03-21 04:08] steveclarkin opened #140 "Uncaught Error: Could not find module `ember-get-config` imported from `myapp/initializers/browser/leaflet-assets`"
I recently updated to Ember 2.12.0 and started getting the following error:

`Uncaught Error: Could not find module `ember-get-config` imported from `myapp/initializers/browser/leaflet-assets`
    at missingModule (loader.js:228)
    at findModule (loader.js:239)
    at Module.findDeps (loader.js:173)
    at findModule (loader.js:243)
    at requireModule (loader.js:26)
    at resolveInitializer (

[2017-03-21 13:32] miguelcobain commented on #140
I published version `3.0.10` version which should be compatible with ember 2.12. Thank you for reporting.

[2017-03-21 13:33] #140 closed

[2017-03-27 17:08] #106 closed

[2017-03-30 23:26] steveclarkin opened #146 "Icons/Map Tiles getting messed up when deployed to production"
I'm seeing a weird issue where the Icons and Map tiles are getting messed up when I deploy my app to production. The issue is probably best described with a screenshot:

[Running on dev server](https://i.imgsafe.org/d937a636cb.png)

[Running on production](https://i.imgsafe.org/d9382452b2.png)

Production deployment is via "ember deploy" to S3/Cloudfront.

I suspect the problem is somehow being ca

[2017-03-31 06:36] buschtoens commented on #146
Can you release the source code or extract the map into a demo repository?

If not, could you please copy the DOM that is produced by the `{{leaflet-map}}` component? Please also include the `vendor.css` output.

My best guess is that the Leaflet.js stylesheets are somehow missing or incomplete.

This is what you get when `vendor.css` is removed from www.ember-leaflet.com.
![image](https://cloud.g

[2017-03-31 06:37] buschtoens commented on #146
The marker layer offset also appears similar.

![image](https://cloud.githubusercontent.com/assets/834636/24539127/4c48a80e-15ed-11e7-98a5-943a87a79366.png)

[2017-04-01 03:10] brancusi opened #147 "geoJSON layer disappears on update"
Hi,

Just ran into an issue during an upgrade from
`ember 2.7 -> 2.8`
`ember-leaflet 3.0.2 -> 3.0.11`

When I pass a new geoJSON to a geoJSON layer, it no longer renders. The first time works fine, but second time doesn't work.

Here is a twiddle that demonstrates the issue: https://ember-twiddle.com/b38d89af79a19a30d59326851af22853?openFiles=controllers.application.js%2C

[2017-04-01 19:39] brancusi commented on #147
Tracked the issue down to change from `3.0.9 -> 3.0.10`: https://github.com/miguelcobain/ember-leaflet/commit/f243c4063b811e47e3f79d2ff1d61007b0ff959e#diff-58985966d3dbfe85c245fb1aaaba3cfe

Also another twiddle showing it working on `3.0.9`: https://ember-twiddle.com/2b6a1b8a6145bbad8e03ce5ce3d03bb4?openFiles=twiddle.json%2C

[2017-04-01 19:47] miguelcobain commented on #147
Thank you for the twiddle. I'll try to take a look today or tomorrow.

[2017-04-02 15:57] brancusi commented on #147
Thank you

[2017-04-03 00:08] steveclarkin commented on #146
Thank you @buschtoens !

I haven't fixed the issue yet, but you've certainly put me on the right track. Indeed, vendor.css isn't loading. I don't know how I missed this, but i'm getting the following error in Chrome:

`Failed to find a valid digest in the 'integrity' attribute for resource 'https://app.myapp.com.au/assets/vendor-0465cfb5dfffac47bcdd89826e34f76a.css' with computed SHA-256 integrity

[2017-04-03 00:55] steveclarkin commented on #146
Problem solved!

For whatever reason (most likely of my own doing), CloudFront wasn't invalidating vendor.css. I determined this by comparing the SHA hashes between the origin (S3) and CF, and discovered they were different.

Sorry to waste your time on a non leaflet issue, but thanks again for your help!

[2017-04-03 00:55] #146 closed

[2017-04-03 10:53] miguelcobain commented on #147
@brancusi Using your twiddle, clicking the buttons seems to be updating the shape. What is the bug exactly?

[2017-04-03 14:03] brancusi commented on #147
That's so weird. I had it the bug reproduced on two machines and mobile in that first twiddle. Now it's working correctly in 3.0.9.

Can you see if this twiddle shows the bug for you. I bumped leaflet to 3.0.10 and it's back: https://ember-twiddle.com/cdb7d81c108367b2c95ed33843c92cf6?openFiles=twiddle.json%2C

[2017-04-07 13:18] dio-el-claire opened #148 "2 new addons for ember-leaflet"
[ember-leaflet-google-mutant-layer](https://github.com/dio-el-claire/ember-leaflet-google-mutant-layer)
[ember-leaflet-heatmap-layer](https://github.com/dio-el-claire/ember-leaflet-heatmap-layer)

[2017-04-07 13:31] miguelcobain commented on #148
Nice job!
We already had https://github.com/willviles/ember-leaflet-heatmap though. Might be worth to join forces.

Do you mind PRing these two new addons to the leaflet web page addons list?

[2017-04-07 13:43] dio-el-claire commented on #148
Thanks!

For me  https://github.com/willviles/ember-leaflet-heatmap is not well:)
Yes, I mind PRing addons to the leaflet web page addons list.

[2017-04-07 13:45] miguelcobain commented on #148
This is the file you should change: https://github.com/miguelcobain/ember-leaflet/blob/master/tests/dummy/app/templates/addons.hbs

[2017-04-07 14:01] jiteshgupta1995 opened #150 "Multiple Polyline is not working"
I am trying to plot a path using multiple lat and long something like demonstrated here [Ember leaflet Multi option polyline](http://hgoebl.github.io/Leaflet.MultiOptionsPolyline/demo/). I have also gone through the docs for [Adding layers](http://www.ember-leaflet.com/docs/adding-layers) but unable to make it look like Ember leaflet Multi option polyline Demo mentioned in the above link.
I am get

[2017-04-07 14:02] miguelcobain commented on #150
Can you show the code you're using?

[2017-04-07 14:24] willviles commented on #148
@dio-el-claire - I'd be interested to know what's not working with Ember Leaflet Heatmap. Ember Leaflet Heatmap Layer looks pretty similar, apart from you're importing the leaflet-heatmap plugin directly as an AMD transform.

[2017-04-07 16:30] jiteshgupta1995 commented on #150
Code in template.hbs
`{{#leaflet-map lat=lat lng=lng zoom=zoom}}`
`           {{tile-layer url="http://a.tile.openstreetmap.org/{z}/{x}/{y}.png"}}`
`           {{multi-options-polyline latlngs=mapContent options=mapContentOptions}}`
`{{/leaflet-map}}`

Code in controller.js
[code]

I don't know if the value of mapContentOptions and mapContent I am passing are right or wrong. Thanks for quick Reply

[2017-04-07 16:38] miguelcobain commented on #150
Ah, so you're using this addon: https://github.com/mjanda/ember-leaflet-multi-options-polyline

You should open this issue there, please.

[2017-04-07 16:38] #150 closed

[2017-04-07 16:54] jiteshgupta1995 commented on #150
Could have raised the issue there, the addon is not actively handle. Can you tell me if this [http://hgoebl.github.io/Leaflet.MultiOptionsPolyline/demo/](http://hgoebl.github.io/Leaflet.MultiOptionsPolyline/demo/) can be achieved without using that addon or can you suggest some other addon.

[2017-04-07 16:55] miguelcobain commented on #150
@jiteshgupta1995 can you create an ember-twiddle that reproduces that problem? It would be easier.

[2017-04-08 05:21] jiteshgupta1995 commented on #150
I not able to reproduce same error and getting different Error but Code is same:

[Twiddle link](https://ember-twiddle.com/7e71d1a8e23c82abe1ce01324c87a22f?openFiles=controllers.application.js%2C)
Can you have a look and let me know. Thanks @miguelcobain

[2017-04-09 18:45] miguelcobain commented on #150
@jiteshgupta1995 doesn't look like you're passing the options in the correct format.
Please read the projects readme: https://github.com/hgoebl/Leaflet.MultiOptionsPolyline

[2017-04-10 05:26] jiteshgupta1995 commented on #150
@miguelcobain I have gone through that README file but nothing makes sense to me. Can you Create a working version of **Leaflet Multi Polyline** and share me Ember Twiddle link.

[2017-04-11 17:15] saerdnaer commented on #36
Looks like this problem was fixed.
https://ember-twiddle.com/890df418d241195b24497c377cff4332?openFiles=twiddle.json%2C

Updated .hbs file:
[code]

[2017-04-13 05:10] jiteshgupta1995 commented on #150
Hi @miguelcobain . Can you create a demo of the Leaflet Multi Polyline.

[2017-04-21 19:22] mjanda commented on #150
Clearly, your mapContentOptions don't have proper format - they should contains something like this:

[code]

My own working code.

[code]

Of course, you'll have to implement your `optionIdxFn` and fill options properly. But https://github.com/hgoebl/Leaflet.MultiOptionsPolyline should help you there.

[2017-04-28 02:36] knownasilya opened #152 "Error with undefined _styleObservers object"
When using version 3.0.10 (can't upgrade since later versions use leaflet 1.x, but I need Carto support). Seems like the style observer gets torn down before it's set up. That object might need to be defined at another part of the lifecycle.

    at Class.<anonymous> (http://localhost:5000/assets/vendor.js:140174:65)
    at Array.forEach (native)
    at Class._removeStyleObservers (http://localhos

[2017-04-28 11:07] miguelcobain commented on #152
@knownasilya we made sure that you can still use leaflet 0.7. Read installation section: https://github.com/miguelcobain/ember-leaflet#installation

Not sure if it solves this problem, though.

[2017-05-02 15:12] knownasilya commented on #152
@miguelcobain ah, thanks for pointing that out. Unfortunately, it didn't solve the issue.

[2017-05-08 04:24] Techn1x commented on #131
I've come up against the same bug as well. I'm running ember-leaflet v3.0.11, and I get this error showing up (either the getPane is null or the setOpacity error) every single time I click a marker on my map.

My specific implementation is as follows;

template
[code]
controller
[code]

I also have an external panel where you can click an item, and it calls (action 'selectAsset' asset) in the exac

[2017-05-08 05:00] Techn1x opened #155 "marker-layer clickable doesn't seem to work"
Looking at the documentation here, it seems as though there is a 'clickable' option that can be binded to
http://www.ember-leaflet.com/docs/marker-layer

However it seems like it doesn't work? When I do this, my marker is still clickable, and shows the popup
`{{#marker-layer location=asset.location clickable="false"}}`
or
`{{#marker-layer location=asset.location clickable=false}}`

I did some goog

[2017-05-08 05:38] Techn1x opened #156 "Errors with zoom animation"
I've got a map with about 200 markers on it. I have each marker popup binded with popupOpen=(readonly (eq asset.id selectedAsset.id))

I zoom out a bit, I click on an asset in an external panel to set the selectedAsset, like so;
[code]

This then causes the following error
[code]

This happens every time I click on a marker I haven't clicked on yet, whenever the map is required to zoom. If I am al

[2017-05-11 13:57] bartocc commented on #131
I agree with @Techn1x. The bug is caused because **one** click on the marker generates **two** attempts to open the popup.

First, popupOpenDidChange on the PopupLayer component is called because the (eq) helper's value changed. This causes the popup layer to be added to the map's layers.

Then, the regular DOM click event fires and this causes a call to L.Map._openPopup. This method ends with

[c

[2017-05-11 14:58] bartocc commented on #131
To avoid the marker from opening its popup, you can create your own marker component and override its _openPopup method like this

[code]

[2017-05-11 22:53] Techn1x commented on #131
Thanks for that, I'll test out overriding the _openPopup method in the marker and let you know how it goes.

I am hoping it may also fix this other issue I'm having, but not sure..
https://github.com/miguelcobain/ember-leaflet/issues/156

[2017-05-17 05:42] Techn1x commented on #131
Finally got around to implementing the workaround that @bartocc mentioned, and it works quite well. This is a good enough solution for me, but perhaps may not be for others.

I imagine this is a pretty common scenario for an application to need two ways to open a popup (either via onClick of marker or via the popupOpen binding on the popup layer), so it would be nice if ember-leaflet had a way to

[2017-05-17 06:03] muziejus opened #157 "Changing map state outside the component."
Hello, all. This is closely related to #65, but it's definitely not answered in the docs!

I have a map, and, underneath it, I have a list of places. I'd like it so that when you click on one of the places, the map `panTo`s the new location. In regular javascript, I'd do a `var map = L.map('map');` to initialize the map and then I could `map.panTo()` from an `onClick` or whatever anywhere else in

[2017-05-17 06:16] Techn1x commented on #156
After dealing with this bug for almost 2 weeks, I think I know more about what the issue is, and I have found a workaround.

I think the issue is to do with the order in which a popup opens, and zoom animations.

I believe it previously worked when clicking on a marker directly, because the markers' default action is to open its' popup, which must occur at a different time to when I open popups ex

[2017-05-18 07:11] muziejus opened #158 "Working with bounds *and* center/zoom"
In #157, I asked about how to control the map from outside the `{{leaflet-map}}` component. I've figured that out, but, in so doing, have come across a more fundamental problem that may be unsolvable.

To wit, a map can only be initialized with either `bounds` or a center of some sort and a `zoom`. My current situation looks like this

Template:
[code]
In the controller, I have:
[code]
This lets m

[2017-05-18 07:12] #157 closed

[2017-05-21 02:58] kratiahuja opened #159 "Prepare for FastBoot 1.0"
This addon is compatible with FastBoot. FastBoot 1.0 no longer has the `process.env.EMBER_CLI_FASTBOOT` environment variable. This addon can still remain backward compatible for versions that set this variable by following the migration guide [here](https://gist.github.com/kratiahuja/d22de0fb1660cf0ef58f07a6bcbf1a1c)

[2017-05-22 05:30] Techn1x commented on #5
Having some promise-related issues with ember-leaflet, is this promise awareness for ember-leaflet still on the todo list or probably not going to happen for a while?

[2017-05-25 13:47] olejorgensen opened #161 "How to use ember-leaflet with proj4leaflet ?"
How do I use [proj4leaflet](https://github.com/kartena/Proj4Leaflet/) with ember-leaflet?

[2017-05-25 17:28] miguelcobain commented on #161
You should be able to just create a CRS with proj4leaflet library and pass it like `{{leaflet-map crs=somePropThatContainsCRS`

[2017-06-02 09:43] wdlb opened #162 "Map starts drifting after zoom/pan (Chrome Mobile)"
We have an Ember (1.13.10) application where we use ember-leaflet (1.1.1) to show a map consisting of a TileLayer (Google Maps) and a CollectionLayer in a ContainerLayer containing the markers.

After zooming and panning a bit, the map keeps on moving, shaking and drifting in a certain direction, as shown in the gif below:

![](https://media.giphy.com/media/1fikRDKbu7w52/giphy.gif)

This only happ

[2017-06-02 14:07] miguelcobain commented on #162
It would help a lot if you could provide a twiddle with this situation at ember-twiddle.com

[2017-06-14 16:05] brlodi commented on #147
I'm also seeing this issue on 3.0.10 but not 3.0.9. Thanks to @brancusi's callout of change https://github.com/miguelcobain/ember-leaflet/commit/f243c4063b811e47e3f79d2ff1d61007b0ff959e#diff-58985966d3dbfe85c245fb1aaaba3cfe I managed to narrow down the cause, and the problem is in line 33 of `geojson-layer.js`:
[code]
As part of the change, the didUpdateAttrs() method is no longer pulling the new

[2017-06-17 01:58] shicholas commented on #159
I also got issues with bower and the latest fastboot.

[2017-06-17 09:02] buschtoens commented on #159
@schicolas ember-leaflet does not have Bower dependencies anymore: https://github.com/miguelcobain/ember-leaflet/blob/master/README.md#installation

[2017-06-19 06:56] Techn1x opened #164 "Tooltips & changing attributes"
I really need to bind my tooltips to the permanent property, so that when permanent changes, the tooltip refreshes and abides by this new permanent value. Currently, the tooltip only uses the permanent value it was given with when the layer was created.

What would be the best way to achieve this? I've extended the tooltip-layer and tried a number of approaches with no luck..

[code]

Thanks

[2017-06-21 13:50] sukima commented on #164
Looking at how [leaflet](https://github.com/Leaflet/Leaflet/blob/master/src/layer/Tooltip.js#L296) handles this property it seems it is an initialization option not something that can change on the fly. I think you would have to tear down and rebuild each time. Perhaps with something like this:

[code]

[2017-06-21 18:56] knownasilya commented on #152
This is still a persisting issue. Any thoughts?

[2017-06-21 19:41] knownasilya commented on #152
I think ember-state-services would be a good solution for this state management. Seems like there is a leak since the component is reused.

[2017-06-21 20:44] knownasilya commented on #152
It's a bug in composability-tools for sure, seems like `willDestroyParent` is called multiple times.

Error during pagination use-case:

1. Open page 1
2. Open page 2, page 1 items willDestroyParent called
3. Open page 1, page 1 items willDestroyParent called again..

Seems like some cleanup or logic isn't working right.

[2017-06-22 00:38] Techn1x commented on #164
Thanks!! This worked a treat, and so simple!

Although, I was having a separate issue/bug with the initial positioning of tooltips being centered directly on top of the marker rather than alongside (which is then corrected by a zoom action) - and this fix exacerbates the issue because it recreates the tooltips - but at least now I have one less issue to solve!

[2017-06-22 00:38] #164 closed

[2017-06-22 03:17] Techn1x opened #165 "Permanent tooltips positioned incorrectly on first load"
https://ember-twiddle.com/92821d0f3817f2565bbb5b470c5bbf35/92f7e4e4017e4d5b9a2633a8b95ba957c835a743?openFiles=controllers.application.js%2C

Open that twiddle, and if you don't zoom in, you can see the tooltips are not positioned correctly (they're directly on top of the markers). Only occurs when `permanent=true` (when it's false, tooltips are always positioned correctly on hover). Sometimes, the

[2017-06-22 03:48] Techn1x commented on #165
I may have uncovered something useful... in leaflet.js when the tooltip position is calculated https://github.com/Leaflet/Leaflet/blob/master/src/layer/Tooltip.js#L134-L165

If the tooltip is `permanent=false` and it was triggered with a hover, the container element has a width and height, so these values are correct
[code]

If the tooltip is `permanent=true` and it was drawn on load, the containe

[2017-06-23 14:50] miguelcobain commented on #159
Closed by https://github.com/miguelcobain/ember-leaflet/pull/163

[2017-06-23 14:50] #159 closed

[2017-06-26 22:03] jelhan opened #167 "circle-layer: `radius` is a required option"
ember-leaflet {{circle-layer}} requires a `radius` option. If it's not that an assertion fails:

In leaflet `radius` is optional and defaults to `10`: http://leafletjs.com/reference-1.0.3.html#circlemarker

[2017-06-26 22:28] jelhan commented on #167
I'm sorry I mixed up `{{circle-layer}}` which requires `radius` and `{{circle-marker-layer}}` which does not.

[2017-06-26 22:28] #167 closed

[2017-07-24 02:32] getaclue opened #169 "Using on the same view with ember-modal-dialog"
Hey guys,

Just ran into the issue of using a modal with the leaflet.
The modal example is the most [basic one](https://github.com/yapplabs/ember-modal-dialog) from the readme

[code]
with
[code]

The issue was that the map was overlaying over the modal.
So I simply set the modal (`modal-overlays` modal) to have z-index of `1001` since the map is at `400` and the controls at `1000`.

Not sure if t

[2017-07-25 14:47] miguelcobain commented on #169
I think there is no way around it. If the included styles clash, we need to fix them ourselves.
Thanks for the heads up!

[2017-07-25 14:47] #169 closed

[2017-07-25 14:47] miguelcobain commented on #74
ember-leaflet is fastboot 1.0 compatible now

[2017-07-25 14:47] #74 closed

[2017-08-02 11:27] ioanszabo commented on #156
As I understand, implementing this solution you did not got the error when zooming and popup is opened?

[2017-08-02 13:13] Techn1x commented on #156
Once I implemented this workaround I was able to have the marker open its popup and have the map zoom to that location, without any errors. Hope it helps you out!

[2017-08-14 19:15] luketheobscure opened #170 "`icon` isn't promise friendly."
I've got a model with an asynchronous relationship that determines its type. There's no way to easily pass the icon to ember-leaflet. My workaround looks like this (which is kinda gross):

[code]

[2017-08-16 10:54] miguelcobain commented on #170
@luketheobscure what happens if you use the icon helper?
[code]

[2017-08-16 16:38] luketheobscure commented on #170
The icon helper didn't work for me. I get the error: `TypeError: src.hasOwnProperty is not a function`. This is because the hash passed to helpers isn't a normal object, it's a weird Ember `EmptyObject` that doesn't have some of the weight of a normal object prototype (things like `hasOwnProperty`. I've solved this in my own helpers by adding something like `hash = Object.assign({}, hash)`.

I'm n

[2017-08-16 17:07] miguelcobain commented on #170
@luketheobscure what about
[code]

[2017-08-16 21:58] luketheobscure opened #171 "Doesn't pass dependency lint"
ember-leaflet lists `"ember-wormhole": "^0.5.2"` as a dependency. It also lists `ember-composability-tools` as a dependency, which lists `"ember-wormhole": "0.5.1"` as a dependency. This means that both versions 0.5.1 and 0.5.2 get installed.

**Solution**: Either drop the ember-leaflet wormhole dependency down to `^0.5.1`, or loosen the `ember-composability-tools` by adding the `^` (since I see y

[2017-08-21 05:36] figuedmundo opened #173 "Map container is moved to the front in leaflet v3.0.11"
Hi,

When I worked with version of leaflet 2.2.7, the map was in the back and the elements were displayed over the map like in the picture below, but in the version 3.0.11 the map is in the front.

![leaflet_old_new](https://user-images.githubusercontent.com/815466/29504464-eaa14430-860d-11e7-9894-5c1bf1f1e751.png)

Setting the z-index of the leaflet-container element to -1 the map is pushed to th

[2017-08-21 10:11] TheSegfault commented on #165
Hi, I found another solution for ur problem, I personaly .openTooltip(); and .closeTooltip(); at the initialization.

It look like that

`              marker.bindTooltip('<img src=' + geoConfig.description.img + '/>' + geoConfig.description.title);
                marker.bindTooltip('<img src=' + geoConfig.description.img + '/>' + geoConfig.description.title).openTooltip();
                marker

[2017-08-21 10:20] Techn1x commented on #165
Thanks!! I hadn't managed to find a workaround for it yet, so I'm excited to try your idea next chance I get.

Unfortunately I use the ember handlebars templates to create my tooltips so I'm going to need to find a way to reference them so that I can open/close them

[2017-08-22 08:41] initram opened #175 "icon helper has a too generic name"
including ember-leaflet in my ember app broke part of my app that was not in anyway related to maps. The reason for this was that I has a property that was called "icon" that i wanted to use in a template.

My code looked like this:
`<span class={{icon}}></span>`

After adding ember-leaflet the class of the span became "[object Object]". This is due to the icon helper being used instead of my prop

[2017-08-22 10:55] miguelcobain commented on #175
Your code is invalid. A closing bracket is missing. I assume this isn't realted to the issue you mentioned. I didn't know helper lookup had priority over property lookup. Will investigate.

[2017-08-24 07:59] initram commented on #175
I updated the code to include the end bracket, I must have missed it when I typed in the issue on github.

[2017-08-27 11:00] Techn1x commented on #165
So I've spent a few more hours looking into this now with a clear mind and I can see the cause and solution to the problem.

Looking at the `tooltip-layer.js` file, there are some lines of code that hijack/override the `onAdd` method for the layer, with the specific purpose of rendering the tooltip template *before* the tooltip is opened (so that the tooltip will have it's dimensions set according

[2017-08-31 12:01] linearza commented on #158
I am working on a similar issue now, it would be nice to be able to easily switch between the two use cases

[2017-09-12 19:05] knownasilya opened #176 "Infinite rerender invalidation"
Still receiving issues like this, especially when changing out lots of layers dynamically via some kind of toggle.

    at Array.loopEnd (http://localhost:4200/assets/vendor.js:41646:17)
    at Backburner._trigger (http://localhost:4200/assets/vendor.js:32599:33)
    at Backburner.end (http://localhost:4200/assets/vendor.js:32209:26)
    at Backburner.run (http://localhost:4200/assets/vendor.js:32

[2017-09-20 11:56] OlmoDalco opened #177 "onDblclick not working"
Im trying to use an **onDblclick** action  as well as an onClick action on my map as documented over her: http://www.ember-leaflet.com/docs/leaflet-map

However, as soon as i add the onClick action to the map, the onDblick action is not called any longer. Instead i end up with the onClick action for click and dbClick.

Any suggestions how to fix it?

[2017-10-12 08:06] devotox commented on #176
@knownasilya not a fix but ive found that using Ember.run.next in certain places can at least stop the error in your code. I had the same issue using the onZoomend action which is a problem on the initial render

[2017-10-12 08:21] devotox commented on #177
@OlmoDalco Can you add your code in here that you wrote for the Dblclick

some issues I had was that I wrote onDblClick instead of onDblclick or also I see in one of your instances of OnDbclick you actually just wrote onDblick.

[2017-10-16 20:08] alkamin opened #180 "GeoJSON style options cleared"
It seems that setting style options on a `geojson-layer` (`color` in my case) via a computed property is cleared by the `pushDataToLeaflet` function in `geojson-layer.js`:

https://github.com/miguelcobain/ember-leaflet/blob/master/addon/components/geojson-layer.js#L34

Stepping through with a debugger from the style mixin (here specifically: https://github.com/miguelcobain/ember-leaflet/blob/maste

[2017-10-16 20:24] alkamin commented on #180
I'm thinking this may be a result of using the geoJSON's properties to compute the `color` so that the result is the style observer adding the style and then the updated geoJSON attribute causes that style to be cleared.

[2017-10-16 21:32] alkamin commented on #180
I did some further testing and this appears to happen whether or not the `geoJSON` is updated or not.

[2017-11-06 12:10] jozefvaclavik commented on #113
I had to add `assets/images/` with a tailing forward slash.
[code]

[2017-12-27 11:56] gschulze opened #181 "style property in geoJSON layer not bound"
While individual style properties of the geoJSON layer are bound, the `style` property as a whole is not.
Leaflet allows to pass a function as style property, which can be used to style individual features based on their properties. It would be nice to be able to change that function later on and having the layer reflecting the change.

[2017-12-28 10:58] oscarni opened #183 "Error when iconUrl is set through an ember data relationship"
I would like to set the marker iconUrl through an ember data relationship. It works fine when I specify an url-string directly, but when I specify the relationship promise I get this unclear exception:
[code]

I'm placing markers like this:

[code]
If I uncomment the whole `iconDidChange` in marker-layer.js everything works like a charm.

Could be related to https://github.com/miguelcobain/ember-l

[2018-01-02 16:18] crotwell opened #184 "deprecation warning with ember 2.18"
`ember install ember-leaflet` gives a deprecation warning:

`DEPRECATION: An addon is trying to access project.nodeModulesPath. This is not a reliable way to discover npm modules. Instead, consider doing: require("resolve").sync(something, { basedir: project.root }). `

I believe this is due to ember-leaflet depending on ember-cli-version-checker 1.3.1. I think upgrading to the latest, 2.1.0, will

[2018-01-06 05:35] Techn1x commented on #165
Made a PR anyway - you're welcome to modify/close/etc or make suggestions

[2018-01-25 14:12] bloodknight2010 commented on #31
This is my codes.
[code]
I got the following error.
 **iconUrl not set in Icon options**
How to slove?
 Pls help me.

[2018-01-26 14:30] bloodknight2010 commented on #31
I got the solution following sample codes.
[code]

[2018-01-30 03:37] allthesignals opened #187 "Installation throws error: "checker.assertAbove is not a function""
`ember install ember-leaflet`

[code]

package.json dependencies:
[code]

[2018-01-30 16:29] jrr opened #188 "unmaintained dependency ember-invoke-action"
This warning appears during installation:

[code]

[2018-02-08 09:08] benjaminlong opened #189 "Could not find module `@ember/utils`"
Hello !

I am new with `ember-leaflet` and I'm sorry about this pretty stupid question. I'm trying to add the addon to my app.  However I got this error:

`Error: Could not find module '@ember/utils' imported from 'my-app/initializers/leaflet-assets'`

I'm using:
- ember-leaflet: 3.0.13,
- ember-cli: 2.17.0,
- ember-data: 2.14.0,
- ember-cli-fastboot: 1.1.2

Any idea why ?

[2018-02-08 09:43] benjaminlong commented on #189
Sorry for disturbing the community, just needed to upgrade my dependencies.

[2018-02-08 09:43] #189 closed

[2018-02-19 11:43] kaermorchen commented on #170
I've caught a bug if use [ember-mdi](https://github.com/kaermorchen/ember-mdi) + ember-leaflet.

ember-mdi have icon property inside [component](https://github.com/kaermorchen/ember-mdi/blob/master/addon/templates/components/mdi-icon.hbs).

Instead of
`<use xlink:href="#account"></use>`
I get
`<use xlink:href="#[object Object]"></use>`

[2018-02-19 13:30] kaermorchen commented on #175
I've caught a bug if use [ember-mdi](https://github.com/kaermorchen/ember-mdi) + ember-leaflet in one project.

ember-mdi have icon property inside [component](https://github.com/kaermorchen/ember-mdi/blob/master/addon/templates/components/mdi-icon.hbs).

Instead of
`<use xlink:href="#account"></use>`
I get
`<use xlink:href="#[object Object]"></use>`

[2018-02-19 14:33] kaermorchen commented on #165
@Techn1x Thank you bro. You have safed my time.

[2018-02-19 23:01] Techn1x commented on #165
No worries @kaermorchen , glad I saved someone the many hours/days I spent on this.

I wish I could get some maintainers' feedback on these fixes I've made, feel like I've been talking to a wall this whole time :P Although there does seem to be a lot of good PR's that haven't been acknowledged so I assume it's a time issue with the maintainers.

[2018-02-21 08:12] byrnedo commented on #120
@miguelcobain is there a workaround for this?

[2018-02-22 19:56] rafael-paiva commented on #188
+1

[2018-03-05 20:56] chris-aeviator commented on #89
@multiplegeorges I'm facing the same problem, I want to position a marker overlay by x,y coordinates set as posX, posY params to the component. I'm using crs.simple & cannot find a way to get this working in ember 3.0 & firefox (i was able to hack my way up to .unproject but it's breaking in firefox).

How did you do the access to L.CRS.Simple (.unproject) from within a component??

[2018-03-06 11:40] arnaudbesnier commented on #189
Hey @benjaminlong, I am facing the same issue on Ember app launch (after successful addon installation)
What do you mean exactly by "upgrade my dependencies"?

[2018-03-06 11:44] benjaminlong commented on #189
I updated my dependencies, mainly `ember-cli-*` if I remember properly.  Which versions are you using ?

[2018-03-06 14:18] arnaudbesnier commented on #189
I eventually manage to use the package with version 3.0.12.
I also had the issue with v3.0.13.

I am using `ember-cli` 2.12.2.

[2018-03-07 15:24] miguelcobain commented on #175
@kaermorchen interesting. This is closely related with the lack of namespacing with addon provided helpers and this RFC https://github.com/emberjs/rfcs/pull/308

Ember prioritizes helpers, and then your `{{icon}}` will be resolved as a helper instead of property lookup.

A quick and dirty fix for your case would be if ember-mdi used `{{this.icon}}` instead of `{{icon}}` (maybe use the same approac

[2018-03-12 23:01] jayvarner opened #192 "Add event missing for TileLayer class"
The add event is present for the GeoJSON and Path classes; but it is missing for the TileLayer class. It is easy enough to add it to the TileLayer class. Has there been any discussion about putting common events and options in the BaseLayer class?

[2018-03-19 14:19] bartocc opened #193 "Deprecation warning under ember 2.18"
## Version

3.0.13

## How to reproduce

`git clone https://github.com/bartocc/ember-2.18.2-barebone.git`
`cd ember-2.18.2-barebone`
`yarn install`
`ember install ember-leaflet@3.0.13`

## Expected result

You should see the following deprecation message

[code]

[2018-03-20 17:15] jayvarner commented on #176
I'm getting this when I add more than 10 features with an `onAdd` listener. Here's a [Twiddle](https://ember-twiddle.com/bcd6a54cf32ebd5670a32a433b9111ff?openFiles=controllers.application.js%2C). It works if you remove one from the points array. Note: I could only get ember-leaflet to work with 2.13 on Twiddle. I'm getting this same error on 2.18.

Twiddle: https://ember-twiddle.com/bcd6a54cf32ebd

[2018-04-09 02:44] Techn1x opened #195 "Fix for 'cannot read property removeEventListener of null' error"
Hi all,

I am using ember-leaflet + ember-leaflet-layer-control
I have the following code in my leaflet map template
[code]

If I untick the Geofences layer in the layer control, the geofences correctly disappear from the map. If I then navigate away from my map page, I end up with the following error
![error](https://user-images.githubusercontent.com/1049837/38476836-3a1d3eba-3bf3-11e8-9560-24d1c

[2018-04-09 02:47] Techn1x commented on #195
I would submit a PR but my last PR from months ago is yet to be actioned or replied to, so I've just posted this code here for others in the same situation as me.

[2018-04-10 01:52] plcarmel commented on #195
See https://github.com/miguelcobain/ember-leaflet/pull/160

[2018-04-23 17:35] mwisner opened #196 "Deep linking into docs return 404 error"
It looks like ember-leaflet docs are hosted on Netlify, which does not automatically redirect all urls to be served by the index.html file.

For example, going to the homepage and then clicking on "Addons" works but going directly do http://www.ember-leaflet.com/addons does not.

A special Netlify redirect file is required in order to ensure all urls are redirected to use be served by the index.ht

[2018-04-23 17:37] #196 closed

[2018-05-02 09:42] initram commented on #184
That have already been fixed on Master, but no new release have been made since then. I do not know the release schedule though.

[2018-05-14 14:06] ericyoungberg commented on #183
A solution to this issue is presented in PR https://github.com/miguelcobain/ember-leaflet/pull/179

[2018-07-09 14:05] miguelcobain commented on #175
Will cross post my comment from https://github.com/Gavant/gavant-ember-button-basic/pull/3#issuecomment-403490843:

It really sucks that people need to do this in unrelated addons, but to solve this on ember-leaflet would mean introducing a breaking change (renaming the helper). Also, if I prefix the helper to leaflet-icon or something, it would probably mean that I would need to prefix all helper

[2018-07-09 14:05] #175 closed

[2018-07-10 16:04] billdami commented on #155
@Techn1x it looks like ember-leaflet has not yet been updated to account for this change to the leaflet.js API. A quick fix would be to extend the ember-leaflet `marker-layer` component in your app (and any other components you need the `interactive` option for), and override the `leafletOptions` property, removing `clickable`, and adding `interactive`. e.g.

[code]
https://github.com/miguelcobain

[2018-07-10 16:21] miguelcobain commented on #155
Released ember-leaflet `3.0.16` which includes the `interactive` property on marker-layer.

Thank you for reporting!

[2018-07-10 16:21] #155 closed

[2018-07-10 16:25] billdami commented on #155
@miguelcobain fyi, i think the same change also applies to the other layer types that have the `clickable` option. (i.e. `path-layer`, `geojson-layer`)

[2018-07-10 22:31] Techn1x commented on #155
Also, perhaps clickable should be removed as an option on `marker-layer` (and other layers) so as not to confuse

[2018-07-11 01:19] miguelcobain commented on #155
@billdami i published `3.0.17` that includes interactive-layer which all path-layers, image and marker layers extend. It also includes the new video-layer from newer leaflet. Thanks for pointing that out.

@Techn1x ember-leaflet tries to work with past version of leaflet. Removing clickable could break for anyone using ember-leaflet with leaflet 0.7 or even some version of 1.0.

[2018-09-03 14:40] jozefvaclavik commented on #48
Having same issue. If I do
[code]
the map only zooms in to previously set `latitude`/`longitude`. If I remove `zoom: 6`, map centers correctly.

[2018-10-11 09:33] sumeetattree commented on #113
I had a similar query. Using this with `ember-cli-deploy` workflow. Server that serves (hosted on `3000`) the ember html is different from the ember server (hosted on `4200`). After the build has completed I can see that the icons provided by ember-leaflet have been dumped into `dist/assets/images` directory.

I have prepend enabled throughout the app. So these are fingerprinted properly as well.

[2018-11-02 18:13] delkano commented on #48
I have this exact same issue, and after hours trying to bypass it by all workarounds I could think of and obtaining zero results I decided to submit a bug.

I've composed a minimalistic Twiddle which I believe illustrates the issue. Since you can play with all three values, you can see that only the zoom changes when you try to update all three. However, if you comment the `this.set("zoom" this.ne

[2018-11-05 13:33] delkano commented on #48
After testing a bit around. I've found a way to solve this. It's not beautiful, so I prefer not to submit it as a PR, but it can solve things for people with this issue.

The problem is that leaflet-ember does define two different observers, one for `zoom` (calling `setZoom`) and one for `center` (calling `panTo`). When both properties are changed in the same cycle, one is called before, then the

[2018-11-10 12:30] dev-zetta opened #202 "Extending ImageLayer component"
Hello there,

I would like to extend the behaviour of ImageLayer component, but it seems that those components are not extendable.
[code]
When used in template, {{#leaflet-map...
`{{gui-map-layer url="..."  }}`

I get this error:

    at new EmberError (serve://dist/assets/vendor.js:18142:31)
    at Object.assert (serve://dist/assets/vendor.js:17006:23)
    at leafletRequiredOptions.forEach.option

[2018-11-11 19:52] #202 closed

[2019-02-06 18:09] miguelcobain commented on #170
The `hasOwnProperty` shouldn't be a problem anymore on 3.0.18.
The icon helpers aren't promise aware, though, as that has to be accounted for in user land.

[2019-02-06 18:09] #170 closed

[2019-02-06 18:16] miguelcobain commented on #171
This shouldn't be an issue anymore on latest versions since we don't depend on ember-wormhole anymore (and ember-composability-tools doesn't as well). 👍

[2019-02-06 18:16] #171 closed

[2019-03-08 19:22] #152 closed

[2019-03-09 20:19] #181 closed

[2019-03-09 20:20] miguelcobain commented on #181
Adding `style` as a `leafletProperties` did the trick. Also added a test for it.

[2019-03-09 20:23] #148 closed

[2019-03-09 20:23] #11 closed

[2019-03-09 20:25] miguelcobain commented on #5
This is a user concern. You must load your data properly and ember-leaflet shouldn't have to deal with that. For those reasons I'm closing this.

[2019-03-09 20:25] #5 closed

[2019-03-09 20:27] miguelcobain commented on #176
Should be fixed. Please reopen if still a concern.

[2019-03-09 20:27] #176 closed

[2019-03-09 20:29] miguelcobain commented on #120
This is just how ember component inheritance works. It overrides the layout property. You have to either copy paste the template or import it and assign it.

[2019-03-09 20:29] #120 closed

[2019-03-09 20:29] #147 closed

[2019-03-09 20:34] miguelcobain commented on #173
New leaflet versions set the z-index of .leaflet-pane to 400. Using `z-index: 401;` or greater on whatever you want to place over the map should work.

[2019-03-09 20:34] #173 closed

[2019-03-09 20:35] miguelcobain commented on #180
This should be fixed on master. Please reopen if still an issue.

[2019-03-09 20:35] #180 closed

[2019-03-09 20:36] miguelcobain commented on #177
Probably a typo. Please reopen if still an issue.

[2019-03-09 20:36] #177 closed

[2019-03-09 20:57] miguelcobain commented on #165
@Techn1x seems that with ember-leaflet 3.0.18 the twiddle no longer fails.

Here is the updated twiddle: https://ember-twiddle.com/00873a8d886530de46f22c85970f9360?openFiles=twiddle.json%2C

I'm closing this and #186
Thank you.

[2019-03-09 20:57] #165 closed

[2019-03-09 20:58] miguelcobain commented on #183
This shouldn't be an issue anymore on master. Please reopen if issue persists.

[2019-03-09 20:58] #183 closed

[2019-03-09 20:59] miguelcobain commented on #162
This shouldn't be an issue anymore on master. Please reopen if this still persists.

[2019-03-09 20:59] #162 closed

[2019-03-09 21:00] miguelcobain commented on #195
This shouldn't be an issue anymore on master. Please reopen if this still persists.

[2019-03-09 21:00] #195 closed

[2019-03-09 21:00] miguelcobain commented on #192
The base layer already has the add and remove events. Closing this.

[2019-03-09 21:00] #192 closed

[2019-03-09 21:01] miguelcobain commented on #187
Shouldn't be an issue on master. Please reopen if issue persists.

[2019-03-09 21:01] #187 closed

[2019-03-09 21:01] #161 closed

[2019-03-09 21:06] miguelcobain commented on #48
Please reopen if issue persists on master.

[2019-03-09 21:06] #48 closed

[2019-03-10 00:54] Techn1x commented on #165
Thanks! That's fantastic news, can't wait to update ember-leaflet in my project first thing Monday!

[2019-03-14 15:55] Pingu69 opened #253 "how to change attribution"
How can I change the attribution of the map? I tried passing string to attribution property, but it doesn't work.

`{{#leaflet-map lat=lat lng=lon onLoad=(action (mut map)) zoomControl=true scrollWheelZoom=false attribution="attribution" zoom=15 bounds=bounds as |layers|}}`

[2019-03-14 16:19] miguelcobain commented on #12
## Add rectangle layer support to ember-leaflet.

API should be

[code]

## 1. create `addon/components/rectangle-layer.js`

- `leafletRequiredOptions` is just `['bounds']`
- `leafletProperties` is also just `['bounds']`
- it should extend polygon-layer component and override the `createLayer` method to use `L.rectangle` instead

## 2. create the re-export file

- create the re-export file at `app

[2019-03-14 16:24] miguelcobain commented on #253
@Pingu69 usually the `attribution` should be set on the tile layer and not on the map. Can you try that and report back, please?

[2019-03-15 07:39] Pingu69 commented on #253
Thanks for the help! I put the attribution property in the tile layer and passed a string, and it works!

[2019-03-15 10:39] #253 closed

[2019-04-24 03:18] Techn1x commented on #195
Confirmed fixed, cheers

[2019-04-24 03:45] Techn1x commented on #131
I don't seem to have this issue anymore, once updating to 3.1.2

[2019-04-24 04:02] Techn1x commented on #156
After updating to 3.1.2, Seems to be half fixed. No longer need to override the marker-layer, but still need to ensure that the fly/zoom action occurs on the markers' `onPopupopen`, rather than as part of the `selectAsset` action.

[2019-04-24 04:07] Techn1x commented on #165
Unfortunately, even though the ember-twiddle does seem to show its fixed in 3.0.18+, I'm still having the same issue after updating to 3.1.2 and removing my workarounds.

Stepping through the code, it seems to call `addToContainer` before `didCreateLayer`, meaning the tooltip gets binded before `_addPopupListeners` (ie the onAdd method is overridden)

I can confirm the workaround is a lot simpler

[2019-05-15 02:50] mikeelemuel opened #285 "ember-cli-babel@7 cannot be used by ember-cli versions older than 2.13, you used 2.6.2"
I was trying to install this addon by running the command `ember install ember-leaflet` but I received an error called

ember-cli-babel@7 (used by ember-leaflet at /Users/insetPathHere/node_modules/ember-leaflet) cannot be used by ember-cli versions older than 2.13, you used 2.6.2

Ember and babel version that I am using are

    "ember-cli": "2.6.2",
    "ember-cli-babel": "^5.1.6",

Node version

[2019-05-15 03:17] miguelcobain commented on #285
You're using a really old version of ember-cli.
Is upgrading your ember and ember-cli versions not possible for you for some reason?

[2019-05-15 03:19] mikeelemuel commented on #285
Hi @miguelcobain , thank you for getting back to me. As of now, it is not possible yet. There are some other addons that are associated with the current ember-cli version that I am using.

[2019-05-15 03:22] miguelcobain commented on #285
you can try to use ember-leaflet v3.0.17, which is the most recent version that uses ember-cli-babel 6.x.

Try installing it with `ember install ember-leaflet@3.0.17`

[2019-05-15 03:23] mikeelemuel commented on #285
Let me try it

[2019-05-15 03:27] mikeelemuel commented on #285
Didn't receive any error with the version you've suggested. :D 👍

[2019-05-15 03:27] #285 closed

[2019-05-15 06:55] mikeelemuel opened #292 "Uncaught DOMException: Failed to execute 'setAttribute' on 'Element': '|layers|' is not a valid attribute name."
Versions
ember-cli: 2.16
ember-leaflet: 3.0.17

Below are the following code of my `template.hbs`

[code]

and my `controller.js` is

[code]

But the approach above returned a error called `Uncaught DOMException: Failed to execute 'setAttribute' on 'Element': '|layers|' is not a valid attribute name.`

[2019-05-15 10:03] miguelcobain commented on #292
Your version of ember does not support angle bracket invocation syntax.

That's why you get the error.

To use this feature on old ember versions, there is a polyfill: https://github.com/rwjblue/ember-angle-bracket-invocation-polyfill

Try installing that ember addon and it should work.

[2019-05-15 10:03] #292 closed

[2019-05-27 20:33] pirvudoru opened #300 "Leaflet - Paper - Stepper integration"
## Description
I'm having a bit of an issue not and can't figure out what is going on when integrating:
- ember-paper
- ember-paper-stepper
- ember-leaflet
The leaflet map initialized inside a stepper step does not show up when step is activated. Not sure where the issue is coming from. I'd very much appreciate some help.

## Steps to test or reproduce
Clone  https://github.com/pirvudoru/ember-pap

[2019-06-14 12:10] jelhan opened #305 "Setting a computed property as volatile has been deprecated"
Caused by `options` property in `BaseLayer` coimponent:

https://github.com/miguelcobain/ember-leaflet/blob/bdd29e79d8b529eb103775b2f8273160faf06464/addon/components/base-layer.js#L94-L103

Tried to refactor to native getter as suggested in [deprecation guide](https://deprecations.emberjs.com/v3.x/#toc_computed-property-volatile) but tests were failing afterwards.

[code]

[2019-07-12 04:02] miguelcobain commented on #305
Fixed on `v3.1.3`. Thanks for reporting.

[2019-07-12 04:02] #305 closed

[2019-07-12 12:41] gilles-bertrand opened #316 "Path error in template layout call using octane blueprint"
Hi, in the last version when you use the component, we receive this error

To correct this I had to change the line 10 of the components/leaflet-map.js to take the current in path

[2019-07-12 13:30] miguelcobain commented on #316
@gilles-bertrand what ember-cli version are you using?
Are you using ember octane blueprint?

[2019-07-12 13:31] gilles-bertrand commented on #316
@miguelcobain yes indeed do I need to do somthing specific

[2019-07-12 13:34] miguelcobain commented on #316
As far as I can tell this is a bug on that ember-cli version.
I had to use the latest released ember-cli version and it worked fine.

[2019-07-12 13:35] miguelcobain commented on #316
It might be worth to create an issue in ember-cli's repo.

[2019-07-12 13:50] gilles-bertrand commented on #316
Ok Ill try to update ember cli to the new version

Any idea why ?

[2019-07-12 15:43] miguelcobain commented on #316
@gilles-bertrand i specified `"ember-cli": "3.8.3"` in my package.json, and it worked.

Didn't try with later versions. :(

[2019-07-19 16:49] luciodale commented on #165
If you are using `getBounds()` to center the shapes, remember to add the tooltips afterwards

[2019-08-17 02:56] backspace commented on #316
There’s some discussion of this problem [here](https://github.com/ember-cli/ember-cli/issues/8693).

[2019-08-29 14:26] lucasoz opened #346 "LeafletMap not render completely"
Hi, i have a problem rendering the map. In my css file i put `.leaflet-container {
  height: 700px;
}` however the map not render well (See the image). When i open the DevTools in a side i observe that the problem disappear and now render correctly but if i reload page the initial problem persists.

Note: LeafletMap is inside of an semantic ui modal but i think there is not problem.

![Captura de

[2019-09-09 10:19] thijsdekkers commented on #80
After upgrading ember leaflet and it's dependencies to version 3.1.3 it is unclear for me how to implement custom icons.

My code used to be something like this:

template.hbs

[code]

- gives the following error: `Uncaught TypeError: Cannot read property 'disable' of undefined`
(this error can be resolved by removing the iconDidChange observer in ember-leaflet/components/marker-layer.js)
- the po

[2019-09-09 22:11] #346 closed

[2019-09-30 14:06] jelhan commented on #316
Ember CLI 3.13.0 was released without a bug fix. Ember Leaflet is currently broken on Ember CLI 3.13. Ember Bootstrap was also affected by this bug. This is the fix we landed there: https://github.com/kaliber5/ember-bootstrap/pull/883 It's not beautiful but it seems to work quite stable.

[2019-10-10 09:09] bartocc opened #363 "🐛 imcompatible with lazy ember-engines >= 0.8.0"
Including `ember-leaflet` inside a lazy ember engine with ember-engines >= 0.8.0 does not work.

See this comment for some background https://github.com/ember-engines/ember-engines/issues/662#issuecomment-506603715

I've [forked](https://github.com/bartocc/ember-leaflet/tree/lazy-engines-aware) `ember-leaflet` to fix it with and I'll create a PR with my modif.

[2019-10-10 14:16] #363 closed

[2019-10-15 18:58] MalayaliRobz opened #366 "would like to Dynamic Import (lazyload) leaflet package"
Is there a way to Dynamic Import leaflet.js package in my ember app.
Is it possible with ember-auto-import?

[2019-10-15 19:42] MalayaliRobz commented on #366
I was thinking of dynamically loading leaflet.js and then calling ember-leaflet components like {{{#leaflet-map}}.
Right now leaflet.js get added in vendor.js, but I don't want it to load it on app bootup.

[2019-10-16 06:02] MalayaliRobz commented on #366
Did some digging, was able to find that, there is an option to pass excludeJS which does not add leaflet.js to vendor.
But still facing a problem. leaflet-assets initializer expects leaflet's-L to be present on initialize.
But I am trying to dynamically load it lazily to the app. Problem is initializer code gets called on app load.

Creating a PR to fix this.

[2019-10-20 23:32] nummi commented on #316
Still seeing this in `3.14.0-beta.2`.

[2019-10-30 13:15] m3l1x commented on #316
@miguelcobain do you consider to merge @backspace 's PR #342?

[2019-10-31 16:59] nummi commented on #316
Unfortunately this did not work for me. Setting `"ember-cli": "3.12.0"`. No errors in the CLI or browser console — nothing renders. Probably something specific with my app.

[2019-12-01 19:26] #366 closed

[2019-12-01 19:38] miguelcobain commented on #316
Should be fixed in ember-leaflet 4.0.0

[2019-12-01 19:38] #316 closed

[2019-12-01 19:39] #131 closed

[2019-12-01 19:39] #156 closed

[2019-12-04 12:55] linearza opened #392 "zoomOffset seems to break map"
Hi, in short, setting the `zoomOffset` to `-1` on the `<layers.tile>` breaks my map once I set the tile size to 512. Im using mapbox which has a zoom offset so the text appears very small, and this is the proposed fix.

My implementation is pretty standard:

[code]

Am i missing something obvious?

[2019-12-04 13:08] miguelcobain commented on #392
What do you mean by "breaks my map"?
Are there any thrown errors?
Is it just visually broken?

[2019-12-04 13:09] linearza commented on #392
Ah, just posted screenshots to the #e-leaflet channel. Visually broken, no errors.

[2019-12-04 13:22] #392 closed

[2020-01-24 02:06] miguelcobain commented on #12
Closed on #413
4 years later 🎉

[2020-01-24 02:06] #12 closed

[2020-02-07 14:44] ccoffey opened #428 "Can't get subdomains to work with <layers.tile"
I've tried the following, which looks like it should work given [the docs](https://miguelcobain.github.io/ember-leaflet/docs/tile-layer):

[code]

However I am seeing lots of errors on the console like:

[code]

If I hard code a single subdomain it works:

[code]

So whats the correct way to pass subdomains?

[2020-02-07 15:24] miguelcobain commented on #428
@ccoffey the problem is that `@subdomains=['mt0','mt1','mt2','mt3']` isn't valid handlebars syntax.

If you want to express arrays in ember, you should install [ember-array-helper](https://github.com/kellyselden/ember-array-helper) addon, and then use it like:

[code]

Let me know if this doesn't work for you and please reopen if that's the case. 👍

[2020-02-07 15:24] #428 closed

[2020-02-07 15:53] ccoffey commented on #428
Thank you for your help @miguelcobain. I am clearly very new to Ember and I really appreciate you taking the time to help me. Thank you for your awesome project 🙇

[2020-02-12 05:31] dependabot-preview[bot] opened #430 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/miguelcobain/update-logs/23154911).

[2020-02-13 05:25] #430 closed

[2020-05-04 15:54] knownasilya opened #471 "GeoJson Custom Marker not always cleaned up"
Example code:

[code]

[code]

Steps to reproduce:

1. Render markers as geojson (features)
2. Remove existing marker
3. Add back previously removed marker
4. Remove again, this time it will not remove form the UI

[2020-06-27 11:23] basz opened #496 "Q: leaflet-gesture-handling"
Hi,

I'm trying to create an addon that provide leaflet-gesture-handling. https://github.com/elmarquis/Leaflet.GestureHandling

Could you advise me on how to add it's required options to the LeafletMap that does the map instantiation?

[code]

I need to plugin into the LeafletMap component I think

[code]

[2020-06-27 11:59] basz commented on #496
I've added the following to an initializer and that seems to work... Works for all maps, but that is fine I guess.

[code]

[2020-06-27 19:36] basz commented on #496
here we go: https://github.com/bushbaby/ember-leaflet-gesture-handling

I like this leaflet family. Any plans to update things?

[2020-06-27 20:29] miguelcobain commented on #496
@basz at the moment there is no way to add arguments to `<LeafletMap` through addons. That would be an interesting feature to have. It would certainly involve using the [ember-leaflet service](https://github.com/miguelcobain/ember-leaflet/blob/master/addon/services/ember-leaflet.js), and pulling new arguments from there.

But I think your addon looks fine, you worked around the limitation really w

[2020-07-11 13:35] clem3109 opened #500 "Issue with Leaflet 1.6"
When I updated to Leaflet 1.6, the center of my map doesn’t follow the @lat @ lng that I update
Everything is fine when I come back to Leaflet  1.3.4.

[2020-07-11 14:19] miguelcobain commented on #500
@clem3109 that's strange. All the tests are passing with leaflet 1.6.

Can you post a code example that fails or even better, create a pull request with a failing test?

[2020-07-12 17:17] clem3109 commented on #500
I found out it is a bug that came with the 1.5.0 version of Leaflet, I didn’t found any obvious change that can explain the bug in the change log (https://github.com/Leaflet/Leaflet/blob/master/CHANGELOG.md).

I shared my project with you, the behaviour should work like this : on click on a marker, the map should center the marker (and opens the associated modal page).
<LeafletMap> in application/

[2020-07-12 17:24] clem3109 commented on #500
Erratum: the bug comes with the 1.4 version of Leaflet, so it may be due to the "new Map.panInside method ([#6054](https://github.com/Leaflet/Leaflet/pull/6054) by daverayment) » commit, I’ll dig other there.

[2020-07-24 14:10] ludo-syt opened #513 "Leaflet icon/draggability bug, dragging object can be undefined for hidden markers (related to #77)"
Hello there, I have an issue with the marker-layer "iconDidChange" observer, the "dragging" object is sometimes undefined.
Note that we use [Ember Leaflet Marker Cluster](https://github.com/canufeel/ember-leaflet-marker-cluster) and the bug appears in cluster mode. Hidden markers don't have the "dragging" property as they are not rendered, however iconDidChange is triggered for those markers.
Our

[2020-08-02 22:35] #513 closed

[2020-08-02 23:19] miguelcobain commented on #513
@ludo-syt released a fix on version `4.1.1`.

[2020-08-03 11:04] ludo-syt commented on #513
Thank you @miguelcobain

[2020-09-03 08:09] fpauser opened #536 "Ambiguous dependencies"
`ember-dependency-lint` discovered that there is a version mismatch in the required `ember-in-element-polyfill`:

[code]

[2020-11-04 11:38] czerwina opened #555 "Issue with installing and using ember-leaflet with Fastboot"
Currently after installing the ember-leaflet addon, and starting up ember serve on a fastboot based ember application we see the following error:

`App is being served by FastBoot
/tmp/broccoli-8863iXuGrBPWGDT/out-397-append_ember_auto_import_analyzer/assets/vendor.js:113462
        this._layer.dragging?.enable();
                             ^

SyntaxError: Unexpected token .`

I have found refer

[2020-11-08 12:14] broerse opened #557 "ember-leaflet not showing anything"
I am new to ember-leaflet and installed it in a new Ember App.

https://github.com/broerse/test-leaflet/blob/master/app/templates/application.hbs
https://github.com/broerse/test-leaflet/blob/master/app/controllers/application.js

It does not show a map or an error. I hope someone can take a look at what I am doing wrong. Thanks!

[2020-11-09 17:59] miguelcobain commented on #557
It looks like you forgot to style the container.

On https://miguelcobain.github.io/ember-leaflet/docs/container we can read:

Please reopen if this was not the culprit.

[2020-11-09 17:59] #557 closed

[2020-11-09 22:18] broerse commented on #557
@miguelcobain Sorry, that was it. Thanks!

[2020-11-10 00:49] miguelcobain commented on #555
This happens because node is not on the `config/targets.js` file.
This was actually fixed on ember-cli-fastboot `v3.0.0-beta.2` (see https://github.com/ember-fastboot/ember-cli-fastboot/pull/770).

To fix this you have to change the following in your `config/targets.js` file, from:

[code]

to

[code]

This will now transpile the code according to your current node version, which will allow it to

[2020-11-10 00:49] #555 closed

[2021-01-15 16:39] Master403 opened #581 "Ember 3.20: The use of the private `{{-in-element}}` is deprecated"
After upgrade to Ember 3.20, I get a template compiler error:
The use of the private `{{-in-element}}` is deprecated, please refactor to the public `{{in-element}}`. ('ember-composability-tools/templates/render-block.hbs' @ L2:C2)

I am using latest version of ember-leaflet 4.1.1.
Can you remove the dependency on 'ember-composability-tools' version 0.0.12 and use the latest version ?

[2021-01-20 16:32] mattcooper-hdr opened #585 "Rendering issues in ember-bootstrap tabs"
When the map is inside an ember-bootstrap tab the container displays correctly but the tiles do not. Once the window is resized a bit the tiles correctly draw. Outside the tab, everything works correctly. Is there any way to handle this and force the map to get the correct dimensions for the tiles to (re)draw?
![Screen Shot 2021-01-20 at 9 28 14 AM](https://user-images.githubusercontent.com/754949

[2021-01-22 03:55] miguelcobain commented on #585
@mattcooper-hdr please read this SO answer:
https://stackoverflow.com/questions/36246815/data-toggle-tab-does-not-download-leaflet-map/36257493#36257493

Unfortunately, ember-bootstrap doesn't fire any action when the tab animation finishes animating. Leaflet can't calculate its size initially, because the tab is hidden.

Please see this twiddle I made as a workaround:
https://ember-twiddle.com/65

[2021-01-22 03:55] #585 closed

[2021-01-28 08:50] GuillaumeCisco commented on #581
I confirm the issue.
Would be great to get an update ;)

[2021-01-28 17:08] miguelcobain commented on #581
@Master403 and @GuillaumeCisco are you using any ember-leaflet addons?
If not, you should try the `v5.0.0-beta.3` version. It uses glimmer components. It should be a lot faster!

[2021-02-03 16:26] schlesingermatthias opened #602 "Mouse events not firing on geojson layer"
Hi,
I'm trying to capture mouse events on a geojson layer, but I can seem to get it to work. Here's my template:

[code]
Am I missing something? Thank you

[2021-02-04 10:07] schlesingermatthias commented on #602
`<layers.geojson @geoJSON={{geoJson}} @style={{style}}  @onEachFeature={{onEachFeature}}/>`

`
  @action
  onEachFeature(feature, layer) {
    layer.on({
      mouseover: () => {
        this.geojsonMouseOver(feature, layer);
      },
    });
  }
`

works.

[2021-02-04 10:07] #602 closed

[2021-03-26 09:58] runspired opened #636 "Not compatible with apps that use a strict `or` helper"
Had a fun debugging session tonight 😭

My app defines an `or` helper that does not come from `ember-truth-helpers`. This `or` helper is strict vs loose (meaning that it casts the return value to a boolean rather than returning a falsey or truthy value).

Turns out that the component assignment is depending on the loose `or`

[code]

[2021-03-26 16:05] miguelcobain commented on #636
I see. Perhaps we should include our own "loose" `or` helper.

[2021-04-01 00:44] #636 closed

[2021-04-01 01:05] miguelcobain commented on #636
This fix was released on `5.0.0-beta.4`.

[2021-04-17 17:48] gnclmorais commented on #98
I just ran into this and it tool me a while to understand what the error was, so I’ll make it clearer…

The position string must be _all lowercase_, i.e., `'topRight'` → `'topright'`.

[2021-04-27 20:51] KindarConrath opened #651 "marker.popup doesn't see close element"
I have the following code

                    <LeafletMap @lat={{40.529328}} @lng={{-112.139893}} @zoom={{13}} as |layers|>
                        <layers.image @url="/assets/images/mine.png" @bounds={{this.mapBounds}} />
                        <layers.marker @lat={{40.561220}} @lng={{-112.142008}} as |marker|>
                            <marker.popup>
                                <h3>Hotel

[2021-06-02 21:00] cedriclinares123 opened #658 "closePopupOnClick does not work with a flag"
Reproduction Steps
1) Use a flag set to false for the closePopupOnClick value in a leaflet map with popups
2) Trigger the flag so it becomes true
Expected: Popups will not close on map click
Result: Popups still close on map click

I can create a twiddle but this should be pretty simple to reproduce

[2021-06-29 19:02] KindarConrath commented on #651
Issue is related to EmblemJS, apologies.

[2021-06-29 19:02] #651 closed

[2021-08-17 21:17] muziejus commented on #140
Weirdly, I'm getting this error again today:

[code]

This is in the console, not in the build, which works fine. I've installed `ember-get-config` into my app, and the version matches the version in `ember-leaflet`'s `package.json`, but still nothing.

Ember 3.28.0 w/ Embroider (in case there is a building error)

[2021-09-09 14:55] muziejus opened #670 "Uncaught Error: Could not find module `ember-get-config` imported from `(require)`"
[ This is a duplicate of #140, but my previous comment got no traction so I wonder if that did not reopen the issue ]

Weirdly, I'm getting this error again today:

[code]

This is in the console, not in the build, which works fine. I've installed `ember-get-config` into my app, and the version matches the version in `ember-leaflet`'s `package.json`, but still nothing.

Ember 3.28.0 w/ Embroider (

[2021-09-09 14:58] miguelcobain commented on #670
@muziejus which ember-leaflet version are you using?

[2021-09-09 15:00] muziejus commented on #670
5.0.0-beta.3

[2021-09-09 16:01] miguelcobain commented on #670
@muziejus I refactored in a way that doesn't need `ember-get-config` dependency, and as such it was removed.

Please try the newly released `5.0.0-beta.5` version.

[2021-09-09 17:41] muziejus commented on #670
Thanks. I don't get that error anymore, now I get this one:

[code]

[code]

Manually installing `ember-truth-helpers` did the trick, but that doesn't look like it's a listed dep for this add-on.

[2021-09-09 17:51] miguelcobain commented on #670
@muziejus can you try `5.0.0-beta.7`?
I removed the usage of the eq helper.

[2021-09-09 18:14] muziejus commented on #670
Done. I uninstalled `ember-truth-helpers` and upgraded to beta 7. A map renders.

Thanks! Now there is a forest of deprecations, but I suppose you're aware of those.

[2021-09-09 18:23] muziejus commented on #670
or would you like some help with them?

[2021-09-09 18:46] miguelcobain commented on #670
@muziejus PRs are welcome, for sure!

[2021-09-09 18:46] #670 closed

[2021-10-22 21:42] josemarluedke opened #671 "Options to geojson not passed"
It seems that options passed into `<layers.geojson>` is not passed into `L.geoJson`.

I have the following template:

[code]

I never get that color red option. I added a log into createLayer in `geojson-layer.js` and the output of options is empty:
[code]

![image](https://user-images.githubusercontent.com/230476/138526222-307525b8-50e4-4e00-be9f-f1cb4e5a127b.png)

[2021-11-26 08:31] sdahlbac opened #672 "[docs] links/version"
Latest in the docs points to 4.1.0
api docs are in the form of `<LeafletMap/>`

In here there are a lot of broken links to e.g. `http://leafletjs.com/reference-1.0.2.html#geojson-style` (it probably should be `https://leafletjs.com/reference.html#geojson-filter`)

I thought I'd have a go at fixing those reference links, but when I run in master the api docs are in the form of `{{leaflet-map}}` and

[2021-11-27 15:18] miguelcobain commented on #672
First, version 5.0.0 should be the the default docs now. I'll see what's going on.

Second, yeah, the "curly" syntax is not recommended, but it's just something that happens when using ember-cli-addon-docs. 🤷‍♂️
Before version 5 I was not using ember-cli-addon-docs to generate that. In version 5 we're no longer pointing to leaflet docs. I just copied the text over to this project.

I'll keep this

[2021-11-27 15:33] miguelcobain commented on #672
So, the curly invocation form is an upstream issue being tracked here: https://github.com/ember-learn/ember-cli-addon-docs/issues/195

Regarding the ember-leaflet docs, they are now updated to `v5.0.0`.
Thanks for reporting!

[2021-11-27 15:33] #672 closed

[2021-12-30 12:33] galfert opened #673 "Deprecated use of `assign`"
When used with Ember 4.0 I get the following deprecation message:

I'll create a PR to fix this.

[2021-12-31 13:02] #673 closed

[2022-03-10 12:30] IBue commented on #585
Waiting for the tab animation (here: full visibility) can easily be done by leveraging the **_IntersectionObserver_** API which also enables better component **encapsulation** and reduces repaint redundancy in this case:
https://ember-twiddle.com/c85bde4ee8a2c4bec5e8036fcee95ba9
https://gist.github.com/IBue/c85bde4ee8a2c4bec5e8036fcee95ba9